{% extends "/layouts/main.html" %}

{% block pageTitle %}Register{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{# 'Part of' notification message - in place of breadcrumbs #}
{% block breadcrumbs %}
<div class="ds_wrapper">
  <nav class="ds_notification-message">
    <h3 class="ds_notification-message__title">
      Part of <a href="/register">Registration form</a>
    </h3>
  </nav>
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout  ds_layout--question-page">

    {% block mainContent %}
    <div class="ds_layout__content">
        
      {# Set the action attribute to the next page in your form's journey #}
      <form action="/register/organisation-details/classification" method="post">
        <div class="ds_question">
          <legend class="ds_page-header">
            <h1 class="ds_page-header__title">
              Which classification most accurately describes your organisation?
            </h1>
          </legend>
          <fieldset>
            <p class="ds_hint-text">Select an option</p>
            <div class="ds_field-group">
              <div class="ds_radio">
                <input class="ds_radio__input" id="class-developer" name="classification" type="radio" value="Project Developer">
                <label class="ds_radio__label" for="class-developer">Project Developer</label>
              </div>
              <div class="ds_radio">
                <input class="ds_radio__input" id="class-proponent" name="classification" type="radio" value="Project Proponent">
                <label class="ds_radio__label" for="class-proponent">Project Proponent</label>
              </div>
              <div class="ds_radio">
                <input class="ds_radio__input" id="class-corporate" name="classification" type="radio" value="Corporate End User">
                <label class="ds_radio__label" for="class-corporate">Corporate End User</label>
              </div>
              <div class="ds_radio">
                <input class="ds_radio__input" id="class-trading" name="classification" type="radio" value="Trader">
                <label class="ds_radio__label" for="class-trading">Trader</label>
              </div>
              <div class="ds_radio">
                <input class="ds_radio__input" id="class-retail" name="classification" type="radio" value="Retail Aggregator">
                <label class="ds_radio__label" for="class-retail">Retail Aggregator</label>
              </div>
            </div>
          </fieldset>
        
        </div>
        <div class="button-group">
          <a href="/register/organisation-details/confirm-company" class="ds_button ds_button--cancel ds_button--has-icon ds_button--has-icon--left">
            <svg class="ds_icon" aria-hidden="true" role="img"><use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_left"></use></svg>
            Back
          </a>
          <button class="ds_button  ds_button--has-icon">
            Next
            <svg class="ds_icon" aria-hidden="true" role="img"><use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use></svg>
          </button>
        </div>
      </form>

    </div>
    {% endblock %}

    {# Optionally show submitted answers so far #}
    {% block answerSummary %}
    <div class="ds_layout__footer">
      <div class="ds_!_margin-top--4">
        <h2>Your answers</h2>
        <p><button class="ds_link">Clear answers and start again</button></p>
        <ol class="ds_summary-list">
          <li class="ds_summary-list__item"><span class="ds_summary-list__key" id="item-1-key">Company Number</span> <span class="ds_summary-list__value"><q class="ds_summary-list__answer">{{ data['company_number'] }}</q></span>
            <div class="ds_summary-list__actions">
              <ul class="ds_summary-list__actions-list">
                <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="item-1-key">Change</button></li>
              </ul>
            </div>
          </li>
          <li class="ds_summary-list__item"><span class="ds_summary-list__key" id="item-1-key">Organisation Name</span> <span class="ds_summary-list__value"><q class="ds_summary-list__answer">{{ data['title'] }}</q></span>
            <div class="ds_summary-list__actions">
              <ul class="ds_summary-list__actions-list">
                <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="item-1-key">Change</button></li>
              </ul>
            </div>
          </li>
          <li class="ds_summary-list__item"><span class="ds_summary-list__key" id="item-2-key">Address</span> <span class="ds_summary-list__value"><q class="ds_summary-list__answer">{{ data['address_snippet']}}</q></span>
            <div class="ds_summary-list__actions">
              <ul class="ds_summary-list__actions-list">
                <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="item-2-key">Change</button></li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    </div>
    {% endblock %}

  </main>
</div>
{% endblock %}