{% extends "/layouts/main.html" %}

{% block pageTitle %}Register{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{# 'Part of' notification message - in place of breadcrumbs #}
{% block breadcrumbs %}
<div class="ds_wrapper">
  <nav class="ds_notification-message">
    <h3 class="ds_notification-message__title">
      Part of <a href="/register">Registration form</a>
    </h3>
  </nav>
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
    <main id="main-content" class="ds_layout  ds_layout--article">

        {% block mainHeader %}
        <div class="ds_layout__header">
            <header class="ds_page-header">
                <h1 class="ds_page-header__title">Please confirm your organisation details</h1>
            </header>
        </div>
        {% endblock %}

        {% block mainContent %}
        <div class="ds_layout__content">
            <h2>Your organisation:</h2>
            <ul class="ds_summary-list">
                <li class="ds_summary-list__item"><span class="ds_summary-list__key">Company Number</span> <span class="ds_summary-list__value" id="q1"> <span class="visually-hidden">Your answer is: </span> <q class="ds_summary-list__answer">{{ data['company_number'] }}</q></span>
                    <div class="ds_summary-list__actions">
                        <ul class="ds_summary-list__actions-list">
                            <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="q1">Change <span class="visually-hidden">your answer for: <q>This is an example question?</q></span></button></li>
                        </ul>
                    </div>
                </li>
                <li class="ds_summary-list__item"><span class="ds_summary-list__key">Registered Company Name</span> <span class="ds_summary-list__value" id="q2"> <span class="visually-hidden">Your answer is: </span> <q class="ds_summary-list__answer">{{ data['title'] }}</q></span>
                    <div class="ds_summary-list__actions">
                        <ul class="ds_summary-list__actions-list">
                            <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="q2">Change <span class="visually-hidden">your answer for: <q>This is another different example question?</q></span></button></li>
                        </ul>
                    </div>
                </li>
                <li class="ds_summary-list__item"><span class="ds_summary-list__key">Address</span> <span class="ds_summary-list__value" id="q2"> <span class="visually-hidden">Your answer is: </span> <q class="ds_summary-list__answer">{{ data['address_snippet'] }}</q></span>
                    <div class="ds_summary-list__actions">
                        <ul class="ds_summary-list__actions-list">
                            <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="q2">Change <span class="visually-hidden">your answer for: <q>This is another different example question?</q></span></button></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <div class="button-group">
                <a href="/register/organisation-details/company-number" class="ds_button ds_button--cancel ds_button--has-icon ds_button--has-icon--left">
                  <svg class="ds_icon" aria-hidden="true" role="img"><use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_left"></use></svg>
                  Back
                </a>
                <a href="/register/organisation-details/classification" class="ds_button  ds_button--has-icon">
                  Next
                  <svg class="ds_icon" aria-hidden="true" role="img"><use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use></svg>
                </a>
              </div>

        </div>
        {% endblock %}

    </main>
</div>
{% endblock %}