{% extends "/layouts/main.html" %}

{% block pageTitle %}Register{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{# 'Part of' notification message - in place of breadcrumbs #}
{% block breadcrumbs %}
<div class="ds_wrapper">
  <nav class="ds_notification-message">
    <h3 class="ds_notification-message__title">
      Part of <a href="/register">Registration form</a>
    </h3>
  </nav>
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout  ds_layout--article">

    {% block mainHeader %}
    <div class="ds_layout__header">
        <header class="ds_page-header">
            <h1 class="ds_page-header__title">Check your answers before submitting your application</h1>
        </header>
    </div>
    {% endblock %}

    {% block mainContent %}
    <form class="ds_layout__content" action="/register/organisation-details/summary" method="post">
      
      <h2>Organisation Details</h2>
      <ul class="ds_summary-list">
        <li class="ds_summary-list__item"><span class="ds_summary-list__key">Company Registration Number</span> <span class="ds_summary-list__value" id="q1"> <span class="visually-hidden">Your answer is: </span> <q class="ds_summary-list__answer">{{data['companyNumber']}}</q></span>
          <div class="ds_summary-list__actions">
            <ul class="ds_summary-list__actions-list">
              <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="q1">Change <span class="visually-hidden">your answer for: <q>Company Registration Number</q></span></button></li>
            </ul>
          </div>
        </li>
        <li class="ds_summary-list__item"><span class="ds_summary-list__key">Organisation name</span> <span class="ds_summary-list__value" id="q2"> <span class="visually-hidden">Your answer is: </span> <q class="ds_summary-list__answer">{{data['title']}}</q></span>
          <div class="ds_summary-list__actions">
            <ul class="ds_summary-list__actions-list">
              <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="q2">Change <span class="visually-hidden">your answer for: <q>organisation name</q></span></button></li>
            </ul>
          </div>
        </li>
        <li class="ds_summary-list__item"><span class="ds_summary-list__key">Address</span> <span class="ds_summary-list__value" id="q2"> <span class="visually-hidden">Your answer is: </span> <q class="ds_summary-list__answer">{{data['address_snippet']}}</q></span>
          <div class="ds_summary-list__actions">
            <ul class="ds_summary-list__actions-list">
              <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="q2">Change <span class="visually-hidden">your answer for: <q>address</q></span></button></li>
            </ul>
          </div>
        </li>
        <li class="ds_summary-list__item"><span class="ds_summary-list__key">Classification</span> <span class="ds_summary-list__value" id="q2"> <span class="visually-hidden">Your answer is: </span> <q class="ds_summary-list__answer">{{data['classification']}}</q></span>
          <div class="ds_summary-list__actions">
            <ul class="ds_summary-list__actions-list">
              <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="q2">Change <span class="visually-hidden">your answer for: <q>classification</q></span></button></li>
            </ul>
          </div>
        </li>
      </ul>

      <h2>Contact Details</h2>
      <h3>Main Contact</h3>
      <div class="ds_summary-card">
          <div class="ds_summary-card__header">
            <h3 class="ds_summary-card__header-title">{{ data['contact']['firstName'] }} {{ data['contact']['lastName'] }}</h3>
            <ul class="ds_summary-card__actions-list">
              <li class="ds_summary-card__actions-list-item"><button class="ds_link"> Change <span class="visually-hidden">your answers for: <q>contact name</q></span> </button></li>
            </ul>
          </div>
          <div class="ds_summary-card__content">
            <ul class="ds_summary-list">
              <li class="ds_summary-list__item"><span class="ds_summary-list__key">Phone number</span> <span class="ds_summary-list__value"> <span class="visually-hidden">Your answer is:</span> <q class="ds_summary-list__answer">{{ data['contact']['phone']}}</q> </span></li>
              <li class="ds_summary-list__item"><span class="ds_summary-list__key">Email</span> <span class="ds_summary-list__value"> <span class="visually-hidden">Your answer is:</span> <q class="ds_summary-list__answer">{{ data['contact']['email']}}
            </ul>
          </div>
        </div>

        <div class="button-group">
            <button class="ds_button">
                Submit application
            </button>
        </div>

      </form>
    {% endblock %}

  </main>
</div>
{% endblock %}