{% macro banner(banner) %}
  {% if banner.status and banner.status | searchString('success') %}
    {% set borderColor = '#428542' %}
    {% set icon = 'check_circle' %}
  {% else %}
    {% set borderColor = '#d32205' %}
    {% set icon = 'cancel' %}
  {% endif %}

  <div>
    <div class="ds_confirmation-message" aria-live="polite" {% if borderColor %}style="border-color:{{ borderColor }}"{% endif %}>
      <svg class="ds_confirmation-message__icon ds_icon ds_icon--24" aria-hidden="true" role="img" {% if borderColor %}style="color:{{ borderColor }}"{% endif %}>
        <use href="{{ banner.assetPath }}/images/icons/icons.stack.svg#{{ icon }}"></use>
      </svg>
      <h3 class="ds_confirmation-message__title">
        {{ banner.title }}
      </h3>
      <div class="ds_confirmation-message__body">
        <p>{{ banner.message | safe }}</p>
      </div>
    </div>
  </div>
{% endmacro %}
