//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.ds_wrapper {
  max-width: 100vw;
}

.table-overflow {
  overflow: auto;
  min-width: 100%;

  table {
    overflow-x: auto;
    font-size: 1rem;
    table-layout: auto;
    width: auto;
    min-width: 100%;

    th {
      white-space: nowrap;
    }
  }
}

a.ds_site-navigation__link {
  color: currentColor;
}

a.ds_pagination__link:visited {
  @extend .ds_link
}

a.ds_site-navigation__link:visited {
  @extend .ds_site-navigation__link;
}

.ds_layout--search-results--filters .ds_pagination {
  grid-area: f;
}

.ds_site-navigation__list {
  @extend .ds_site-navigation__list;
  justify-content: space-between;
}

.ds_wrapper {
  width: 1300px;
}

.flex-container {
  display: flex; 
  flex-direction: column;
  column-gap: 3rem; 
  align-items: flex-start;
  justify-content: space-between;
}
