{%  block tabContent %}
<div class="table-overflow">
  <table class="govuk_table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Category</th>
        <th scope="col" class="govuk-table__header">Standard Name</th>
        <th scope="col" class="govuk-table__header">Project Type</th>
        <th scope="col" class="govuk-table__header">Status</th>
        <th class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody id="search-results">
      {% for project in projects %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ project.name }}</td>
        <td class="govuk-table__cell">{{ project.category }}</td>
        <td class="govuk-table__cell">{{ project.standard_name }}</td>
        <td class="govuk-table__cell">{{ project.type }}</td>
        <td class="govuk-table__cell">{{ data['statusEnum'][project.status] }}</td>
        <td class="govuk-table__cell">
          <button type="button" class="ds_link"
            onclick="window.location.href='projects/{{ project.details_url }}'">
            View
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}