{% extends "/layouts/main.html" %}

{% block pageTitle %}Accounts overview{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">Accounts overview</h1>
        </header>
      </div>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content">
      <div class="ds_tabs" data-module="ds-tabs">
        <!-- Tabs -->
        <nav class="ds_tabs__navigation">
          <ul id="tablist" class="ds_tabs__list">
            <li class="ds_tabs__tab">
              <a href="#organisations" class="ds_tabs__tab-link" aria-selected="true">Organisations</a>
            </li>
            <li class="ds_tabs__tab">
              <a href="#users" class="ds_tabs__tab-link" aria-selected="false">Users</a>
            </li>
          </ul>
        </nav>
        <!-- Organisations -->
        <div id="organisations" class="ds_tabs__content">
          <table class="govuk_table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Organisation</th>
                <th scope="col" class="govuk-table__header">Classification</th>
                <th scope="col" class="govuk-table__header">Country</th>
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for organisation in organisations %}
              <tr class="govuk-table__row"
                onclick="window.location.href='/account/{{ organisation.id }}'"
                style="cursor: pointer"
              >
                <td class="govuk-table__cell">{{ organisation.account_name }}</td>
                <td class="govuk-table__cell">{{ organisation.classification }}</td>
                <td class="govuk-table__cell">{{ organisation.country }}</td>
                <td class="govuk-table__cell">{{ organisation.date }}</td>
                <td class="govuk-table__cell">{{ "Pending" if organisation.pending else "Verified" }}</td>
                <td class="govuk-table__cell">
                  <button
                    type="button"
                    class="ds_link"
                    onclick="window.location.href='/account/{{ organisation.id }}'"
                  >
                    Suspend
                  </button>
                </td>
                <td class="govuk-table__cell">
                  <button
                    type="button"
                    class="ds_link"
                    onclick="window.location.href='/account/{{ organisation.id }}'"
                  >
                    Edit
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- Users -->
        <div id="users" class="ds_tabs__content">
          <table class="govuk_table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Email</th>
                <th scope="col" class="govuk-table__header">Organisation</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr class="govuk-table__row"
                onclick="window.location.href='/user/{{ user.id }}'"
                style="cursor: pointer"
              >
                <td class="govuk-table__cell">{{ user.firstName }} {{ user.lastName }}</td>
                <td class="govuk-table__cell">{{ user.email }}</td>
                <td class="govuk-table__cell">{{ user.account }}</td>
                <td class="govuk-table__cell">{{ user.status }}</td>
                <td class="govuk-table__cell">
                  {% if user.status != "Suspended" %}
                  <button
                    type="button"
                    class="ds_link"
                    onclick="window.location.href='/user/{{ user.id }}'"
                  >
                    Suspend
                  </button>
                </td>
                {% endif %}
                <td class="govuk-table__cell">
                  <button
                    type="button"
                    class="ds_link"
                    onclick="window.location.href='/user/{{ user.id }}'"
                  >
                    Edit
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      
      {% block sequentialNavigation %}
      <nav class="ds_pagination" aria-label="Search result pages">
        <ul class="ds_pagination__list">
          <li class="ds_pagination__item">
            <a aria-label="Page 1" aria-current="page" class="ds_pagination__link  ds_current" href="#">
              <span class="ds_pagination__link-label">1</span>
            </a>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Page 2" class="ds_pagination__link" href="#">
              <span class="ds_pagination__link-label">2</span>
            </a>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Page 3" class="ds_pagination__link" href="#">
              <span class="ds_pagination__link-label">3</span>
            </a>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Page 4" class="ds_pagination__link" href="#">
              <span class="ds_pagination__link-label">4</span>
            </a>
          </li>
          <li class="ds_pagination__item" aria-hidden="true">
            <span class="ds_pagination__link  ds_pagination__link--ellipsis">&hellip;</span>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Last page, page 27" class="ds_pagination__link" href="#">
              <span class="ds_pagination__link-label">27</span>
            </a>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Next page" class="ds_pagination__link  ds_pagination__link--text  ds_pagination__link--icon" href="#">
              <span class="ds_pagination__link-label">Next</span>
              <svg class="ds_icon" aria-hidden="true" role="img">
                <use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    {% endblock %}
    
    </div>
    {% endblock %}

  </main>
</div>
{% endblock %}
