{% from "components/banner-notification.html" import banner %}
{% from "components/side-navigation.html" import sideNavigation %}

{% extends "/layouts/main.html" %}

{% block pageTitle %}Admin dashboard{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}

<div class="ds_wrapper">
  <main id="main-content" class="ds_layout ds_layout--search-results--filters">
    {% block mainHeader %}
      <div class="ds_layout__header">
        <header class="ds_page-header">
        </header>
      </div>
    {% endblock %}

    {% set navItems = [
      { href: "/", label: "Credits overview" },
      { href: "/#review-account", label: "Review accounts (" ~ pendingAccounts | length ~ ")" },
      { href: "/#review-project", label: "Review projects (" ~ pendingProjects | length ~ ")" }
    ] %}

    <div class="ds_layout__sidebar">
    {{ sideNavigation(navItems) }}
    </div>

    {% block mainContent %}
    <div class="ds_layout__list side_navigation">
    <div class="table-overflow">
      <h2>Credits</h2>
      <table class="ds_table">
        <thead>
          <tr>
            <th scope="col">Issued</th>
            <th scope="col">Active</th>
            <th scope="col">Retired</th>
            <th scope="col">Assigned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3,249,233</td>
            <td>2,376,780</td>
            <td>52,450</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      {% if pendingAccounts|length >= 1 %}
      <h2 id="review-account">Review accounts</h2>
      <div class="table-overflow">
          <table class="govuk_table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Organisation</th>
                <th scope="col" class="govuk-table__header">Classification</th>
                <th scope="col" class="govuk-table__header">Account Manager</th>
                <th scope="col" class="govuk-table__header">Country</th>
                <th scope="col" class="govuk-table__header">Last updated</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody>
              {% for account in pendingAccounts | sortByDateAsc %}
              {% set date = account.date | reverseDate %}
              <tr class="govuk-table__row"
                onclick="window.location.href='/account/{{ account.id }}'"
                style="cursor: pointer"
              >
                <td class="govuk-table__cell">{{ account.account_name }}</td>
                <td class="govuk-table__cell">{{ account.classification }}</td>
                <td class="govuk-table__cell">{{ account.manager }}</td>
                <td class="govuk-table__cell">{{ account.country }}</td>
                <td class="govuk-table__cell">{{ date }}</td>
                <td class="govuk-table__cell">{{ "Unverified" if account.status else "Verified" }}</td>
                <td class="govuk-table__cell">
                  <button
                    type="button"
                    class="ds_link"
                    onclick="window.location.href='/account/{{ account.id }}'"
                  >
                    Review
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      {% else %}

      {{ banner({
        status: 'success',
        title: "Accounts are up-to-date",
        message: "There are no new accounts to be reviewed.",
        assetPath: assetPath
      }) }}

      {% endif %}

      {% if pendingProjects|length >= 1  %}
        <h2 id="review-project">Review projects</h2>
        <div class="table-overflow">
          <table class="govuk_table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Account</th>
                <th scope="col" class="govuk-table__header">Standard</th>
                <th scope="col" class="govuk-table__header">Category</th>
                <th scope="col" class="govuk-table__header">Date submitted</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody>
              {% for project in pendingProjects | sortByDateAsc %}
              {% set slug = project.project_name | slugify %}
              <tr class="govuk-table__row"
                onclick="window.location.href='/admin/projects/review/{{ slug }}'"
                style="cursor: pointer"
              >
                <td class="govuk-table__cell">{{ project.project_name }}</td>
                <td class="govuk-table__cell">{{ project.account_name }}</td>
                <td class="govuk-table__cell">{{ "WCC" if project.standard == "UK Woodland Carbon Code" else "PC" }}</td>
                <td class="govuk-table__cell">{{ project.category }}</td>
                <td class="govuk-table__cell">{{ project.date }}</td>
                <td class="govuk-table__cell">Pending approval</td>
                <td class="govuk-table__cell">
                  <button
                    type="button"
                    class="ds_link"
                    onclick="window.location.href='/admin/projects/review/{{ slug }}'"
                  >
                    Review
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}

      {{ confirmationMessage({
        heading: "Projects are up-to-date",
        body: "There are no new projects to be reviewed."
      }) }}

      {% endif %}
    </div>

  {% endblock %}
  </main>
</div>
{% endblock %}
