{% from "components/confirmation-message.html" import confirmationMessage %}

{% extends "/layouts/main.html" %}

{% block pageTitle %}Admin dashboard{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}

<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">Admin dashboard</h1>
        </header>
      </div>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content table-overflow">
      <h2>Credits</h2>
      <table class="ds_table">
        <thead>
          <tr>
            <th scope="col">Issued</th>
            <th scope="col">Active</th>
            <th scope="col">Retired</th>
            <th scope="col">Assigned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3,249,233</td>
            <td>2,376,780</td>
            <td>52,450</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      {% if pendingAccounts|length >= 1 %}
      <div class="ds_accordion" data-module="ds-accordion">
        <div class="ds_accordion-item account-summary">
          <input type="checkbox" class="visually-hidden ds_accordion-item__control" id="panel-1" aria-labelledby="panel-1-heading">
          <div class="ds_accordion-item__header">
            <h2 id="panel-1-heading" class="ds_accordion-item__title">
              Accounts pending review ({{ pendingAccounts | length }})
            </h2>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-1"><span class="visually-hidden">Show all</span></label>
          </div>
          <div class="ds_accordion-item__body table-overflow">
            <table class="govuk_table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Organisation</th>
                  <th scope="col" class="govuk-table__header">Classification</th>
                  <th scope="col" class="govuk-table__header">Account Manager</th>
                  <th scope="col" class="govuk-table__header">Country</th>
                  <th scope="col" class="govuk-table__header">Last Updated</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody>
                {% for account in pendingAccounts %}
                <tr class="govuk-table__row"
                  onclick="window.location.href='/account/{{ account.id }}'"
                  style="cursor: pointer"
                >
                  <td class="govuk-table__cell">{{ account.account_name }}</td>
                  <td class="govuk-table__cell">{{ account.classification }}</td>
                  <td class="govuk-table__cell">{{ account.manager }}</td>
                  <td class="govuk-table__cell">{{ account.country }}</td>
                  <td class="govuk-table__cell">{{ account.date }}</td>
                  <td class="govuk-table__cell">{{ "Unverified" if account.status else "Verified" }}</td>
                  <td class="govuk-table__cell">
                    <button
                      type="button"
                      class="ds_link"
                      onclick="window.location.href='/account/{{ account.id }}'"
                    >
                      Review
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {% else %}

      {{ confirmationMessage({
        heading: "Accounts are up-to-date",
        body: "There are no new accounts to be reviewed."
      }) }}

      {% endif %}

      {% if pendingProjects|length >= 1  %}
      <div class="ds_accordion" data-module="ds-accordion">
        <div class="ds_accordion-item account-summary">
          <input type="checkbox" class="visually-hidden ds_accordion-item__control" id="panel-2" aria-labelledby="panel-2-heading">
          <div class="ds_accordion-item__header">
            <h2 id="panel-2-heading" class="ds_accordion-item__title">
              Projects pending review ({{ pendingProjects | length }})
            </h2>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-2"><span class="visually-hidden">Show all</span></label>
          </div>
          <div class="ds_accordion-item__body table-overflow">
            <table class="govuk_table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Category</th>
                  <th scope="col" class="govuk-table__header">Standard</th>
                  <th scope="col" class="govuk-table__header">Project type</th>
                  <th scope="col" class="govuk-table__header">Date created</th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody>
                {% for project in pendingProjects %}
                <tr class="govuk-table__row"
                  onclick="window.location.href='/admin/projects/review/{{ project.details_url }}'"
                  style="cursor: pointer"
                >
                  <td class="govuk-table__cell">{{ project.name }}</td>
                  <td class="govuk-table__cell">{{ project.category }}</td>
                  <td class="govuk-table__cell">{{ project.standard_name }}</td>
                  <td class="govuk-table__cell">{{ project.type }}</td>
                  <td class="govuk-table__cell">{{ project.dateCreated }}</td>
                  <td class="govuk-table__cell">
                    <button
                      type="button"
                      class="ds_link"
                      onclick="window.location.href='/admin/projects/review/{{ project.details_url }}'"
                    >
                      Review
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}

      {{ confirmationMessage({
        heading: "Projects are up-to-date",
        body: "There are no new projects to be reviewed."
      }) }}

      {% endif %}
    </div>

  {% endblock %}
  </main>
</div>
{% endblock %}
