{% extends "/layouts/main.html" %}

{% block pageTitle %}Projects overview{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}
{% from "components/map.html" import renderMap %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout ds_layout--search-results--filters">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">Projects</h1>
        </header>
      </div>
    </div>
    {% endblock %}

    {% include "/layouts/registry/search-filter.html" %}

    {% block mainContent %}
    <div class="ds_layout__list">
      <div class="ds_search-results">
        <div class="ds_tabs" data-module="ds-tabs">
          <nav class="ds_tabs__navigation" aria-labelledby="ds_tabs__title">
            <h2 id="ds_tabs__title" class="ds_tabs__title">Contents</h2>
            <ul class="ds_tabs__list" id="tablist">
              <li class="ds_tabs__tab">
                <a class="ds_tabs__tab-link" href="#projects">Projects</a>
              </li>
              <li class="ds_tabs__tab">
                <a class="ds_tabs__tab-link" href="#mapOverview">Map</a>
              </li>
            </ul>
          </nav>
          <div class="ds_tabs__content ds_tabs__content--bordered" id="projects">
            {%  block tabContent %}
            <div class="table-overflow">
              <table class="govuk_table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Category</th>
                    <th scope="col" class="govuk-table__header">Standard</th>
                    <th scope="col" class="govuk-table__header">Project Type</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th class="govuk-table__header"></th>
                  </tr>
                </thead>
                <tbody id="search-results">
                  {% for project in projects | customSelectAttr('status', [2, 3, 4, 5]) %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ project.name }}</td>
                    <td class="govuk-table__cell">{{ project.category }}</td>
                    <td class="govuk-table__cell">{{ project.standard_name }}</td>
                    <td class="govuk-table__cell">{{ project.type }}</td>
                    <td class="govuk-table__cell">{{ data['statusEnum'][project.status] }}</td>
                    <td class="govuk-table__cell">
                      <button type="button" class="ds_link"
                        onclick="window.location.href='/projects/{{ project.details_url }}'">
                        Assess
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endblock %}
          </div>
          <div class="ds_tabs__content ds_tabs__content--bordered" id="mapOverview">
            {{ renderMap(osApiKey, projects) }}
          </div>
        </div>
      
      {% block sequentialNavigation %}
      <nav class="ds_pagination" aria-label="Search result pages">
        <ul class="ds_pagination__list">
          <li class="ds_pagination__item">
            <a aria-label="Page 1" aria-current="page" class="ds_pagination__link  ds_current" href="#">
              <span class="ds_pagination__link-label">1</span>
            </a>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Page 2" class="ds_pagination__link" href="#">
              <span class="ds_pagination__link-label">2</span>
            </a>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Page 3" class="ds_pagination__link" href="#">
              <span class="ds_pagination__link-label">3</span>
            </a>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Page 4" class="ds_pagination__link" href="#">
              <span class="ds_pagination__link-label">4</span>
            </a>
          </li>
          <li class="ds_pagination__item" aria-hidden="true">
            <span class="ds_pagination__link  ds_pagination__link--ellipsis">&hellip;</span>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Last page, page 27" class="ds_pagination__link" href="#">
              <span class="ds_pagination__link-label">27</span>
            </a>
          </li>
          <li class="ds_pagination__item">
            <a aria-label="Next page" class="ds_pagination__link  ds_pagination__link--text  ds_pagination__link--icon" href="#">
              <span class="ds_pagination__link-label">Next</span>
              <svg class="ds_icon" aria-hidden="true" role="img">
                <use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    {% endblock %}
    
    </div>
    {% endblock %}

  </main>
</div>
{% endblock %}
