{% from "components/file.html" import fileDownload %}
{% from "components/map.html" import renderMap %}

{% extends "/layouts/main.html" %}

{% block pageTitle %}{{ project.name }}{% endblock %}
{% set bodyClasses = "govuk-frontend-supported" %}

{# Back link - in place of breadcrumbs #}
{% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="/">Back</a>
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">{{ data['statusEnum'][project.status] }}: {{ project.name }}</h1>

          {% if data['review-status'] == 'approved' %}
            <div class="ds_notification-panel" role="alert" aria-live="polite">
              <h2 class="ds_notification-panel__title">Draft approved</h2>
              <p class="ds_notification-panel__content" style="color: white;">This project has been approved and marked as Under Development. An email notification has been sent to the account manager. You may now return to the <a href="/" style="text-decoration: underline;">admin dashboard</a>.</p>
            </div>
          {% elif data['review-status'] == 'rejected' %}
            <div class="ds_notification-panel" style="background-color:  	#d32205;" role="alert" aria-live="polite">
              <h2 class="ds_notification-panel__title">Draft rejected</h2>
              <p class="ds_notification-panel__content" style="color: white;">This project draft has been rejected and your comments have been emailed to the account manager. You may now return to the <a href="/" style="text-decoration: underline;">admin dashboard</a>.</p>
            </div>
          {% else %}
            <dl class="ds_metadata">
              <div class="ds_metadata__item">
                <dt class="ds_metadata__key">Draft created</dt>
                <dd class="ds_metadata__value">28 March 2025</dd>
              </div>

              <div class="ds_metadata__item">
                <dt class="ds_metadata__key">Submitted for approval</dt>
                <dd class="ds_metadata__value">21 April 2025</dd>
              </div>

              <div class="ds_metadata__item">
                <dt class="ds_metadata__key">Number of previous reviews</dt>
                <span>
                  <dd class="ds_metadata__value">{{ project.reviews|length}}</dd>
                  <a href="#review-history">(show all)</a>
                </span>
              </div>
            </dl>

            <form id="review-form" action="/admin/projects/review/{{ project.details_url }}" method="post">
              <div id="action-buttons" class="button-group approve-reject">
                <button
                  type="submit"
                  name="action"
                  value="approve"
                  class="govuk-button"
                  data-module="govuk-button"
                >
                  Approve as Under Development
                </button>

                <button
                  type="button"
                  id="reject-button"
                  class="govuk-button govuk-button--warning"
                  data-module="govuk-button"
                >
                  Reject
                </button>
              </div>

              <div id="rejection-panel" class="govuk-form-group" hidden>
                <label class="govuk-label" for="rejection-comments">
                  Reason for rejection
                </label>
                <textarea
                  class="govuk-textarea"
                  id="rejection-comments"
                  name="comments"
                  rows="4"
                  placeholder="Please give a reason for rejection and describe what the project developer needs to improve before resubmitting."
                ></textarea>

                <div class="button-group">
                  <button
                    type="submit"
                    name="action"
                    value="reject"
                    class="govuk-button govuk-button--warning"
                  >
                    Submit rejection
                  </button>
                  <button
                    type="button"
                    id="cancel-reject"
                    class="govuk-button govuk-button--secondary"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          {% endif %}
        </header>
      </div>

      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const btnReject = document.getElementById('reject-button');
          const panelReject = document.getElementById('rejection-panel');
          const btnCancel = document.getElementById('cancel-reject');
          const actionButtons = document.getElementById('action-buttons');
          const textarea = document.getElementById('rejection-comments');

          btnReject.addEventListener('click', () => {
            actionButtons.hidden = true;
            panelReject.hidden = false; // Show the rejection panel
            textarea.focus(); // Focus on the textarea
            textarea.required = true; // Make textarea required for form submission
          });

          btnCancel.addEventListener('click', () => {
            panelReject.hidden = true; // Hide the rejection panel
            actionButtons.hidden = false; // Show action buttons again
            textarea.required = false; // Remove required validation
            textarea.value = ''; // Clear any entered text
          });
        });
      </script>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content project-details">
      <h2 class="ds_section__title">Project details</h2>
      <p>{{ project.description }}</p>
      <ol class="ds_summary-list">
        {% set projectFields = [
          { key: "Category", value: project.category, id: "field-category" },
          { key: "Type", value: project.type, id: "field-type" },
          { key: "Standard", value: project.standard_name, id: "field-standard" },
          { key: "Status", value: data['statusEnum'][project.status], id: "field-status" },
          { key: "PIUs Listed", value: project.pius_listed, id: "field-pius" },
          { key: "Validator", value: project.validator, id: "field-validator" },
          { key: "Developer", value: project.developer, id: "field-developer" },
          { key: "Country", value: project.country, id: "field-country" },
          { key: "Address", value: project.address, id: "field-address" }
        ] %}

        {% for field in projectFields %}
          <li class="ds_summary-list__item ds_small">
            <span class="ds_summary-list__key" id="{{ field.id }}">{{ field.key }}</span>
            <span class="ds_summary-list__value">
              <q class="ds_summary-list__answer">{{ field.value }}</q>
            </span>
          </li>
        {% endfor %}
      </ol>
      <h2 class="ds_section__title" id="review-history">Review History</h2>
      {% if project.reviews|length %}


      <div class="ds_tabs" data-module="ds-tabs">
        <!-- Tabs -->
        <nav class="ds_tabs__navigation">
          <ul id="tablist" class="ds_tabs__list">
            {% for review in project.reviews | sortByDateDesc %}
            <li class="ds_tabs__tab">
              <a href="#review-{{ loop.index }}" class="ds_tabs__tab-link" aria-selected="{% if not loop.first %}false{% endif %}" >{{ review.date }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        {% for review in project.reviews | sortByDateDesc %}

        <div id="review-{{ loop.index }}" class="ds_tabs__content">
          <table class="govuk_table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Outcome</th>
                <th scope="col" class="govuk-table__header">Reason</th>
              </tr>
            </thead>
            <tbody>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {{"Approved" if review.approved else "Rejected"}}
                </td>
                <td class="govuk-table__cell">{{review.comments}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        {% endfor %}
      </div>
    </div>
    <div class="ds_layout__sidebar">
      <h2 class="ds_layout__sidebar-title">Documents</h2>
      <div>
        {% for document in project.documents %}
          {{
          fileDownload(
            "/public/svg/" ~ document.type ~ ".svg",
            "/public/document/" ~ document.url,
            document.name,
            document.description,
            document.size
          )
          }}
        {% endfor %}
      </div>
      {% else %}
      <p>No previous reviews found for this project.</p>
      {% endif %}
      <h2 class="ds_layout__sidebar-title">Site Map</h2>
      {{ renderMap(osApiKey, [project]) }}
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}