{% extends "/layouts/main.html" %}

{% block pageTitle %}Create Project{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% if data['project']['responses']['standard'] == "UK Peatland Code" %}
  {% set idQuery = [1, 4, 10, 18] %}
{% else %}
  {% set idQuery = [1, 4, 10, 13] %}
{% endif %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">Project Registration</h1>
        </header>
      </div>
    </div>
    {% endblock %}

    {% macro getProjectStatus(value) %}
      {% if value == 1 %}
        <strong class="ds_tag ds_tag--grey" aria-hidden="true">Incomplete</strong>
      {% elif value == 2 %}
        <strong class="ds_tag ds_tag--green" aria-hidden="true">Complete</strong>
      {% else %}
        <strong>Not started</strong>
      {% endif %}
    {% endmacro %}

    {% block mainContent %}
    <div class="ds_layout__content">
      <h2>Upload your documents</h2>
      <ul class="ds_task-list">
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/developer/create-project/document-upload">Upload your site map<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          {% set pdfFile = data.project.responses.pdfFile and 2 or 0 %}
          {{ getProjectStatus(pdfFile) }}
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/developer/create-project/document-upload">Upload your carbon calculations<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          {% set csvFile = data.project.responses.csvFile and 2 or 0 %}
          {{ getProjectStatus(csvFile) }}
        </li>
      </ul>
      <h2>Continue your progress</h2>
      <ul class="ds_task-list">
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/developer/create-project/form?fieldId={{ idQuery[1] }}">Project activity and type<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
        </li>
      </ul>
      <h2>Create project submission</h2>
      <ul class="ds_task-list">
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/developer/create-project/form?fieldId={{ idQuery[0] }}">Project details and description<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          {{ getProjectStatus(data.project.status['1']) }}
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/developer/create-project/form?fieldId={{ idQuery[1] }}">Project activity and type<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          {{ getProjectStatus(data.project.status['2']) }}
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/developer/create-project/form?fieldId={{ idQuery[2] }}">Addtional information<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          {% if data.project.responses.standard == "UK Woodland Carbon Code" %}
            {% set statusIndex = '3' %}
          {% else %}
            {% set statusIndex = '5' %}
          {% endif %}
          {{ getProjectStatus(data.project.status[statusIndex]) }}
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/developer/create-project/form?fieldId={{ idQuery[3] }}">Project site details<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          {{ getProjectStatus(data.project.status['4']) }}
        </li>
      </ul>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}
