{% from "components/banner-notification.html" import banner %}
{% extends "/layouts/main.html" %}

{% block pageTitle %}Create Project{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% if data['project']['responses']['standard'] == "UK Peatland Code" %}
  {% set idQuery = [2, 6, 9, 18] %}
{% else %}
  {% set idQuery = [2, 6, 9, 13] %}
{% endif %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">Project Registration</h1>
        </header>
      </div>
    </div>
    {% endblock %}

    {% if bannerState and bannerState == 'documentSuccess' %}
      {{ banner({
        status: 'success',
        title: 'Document upload successful',
        message: 'Continue with your application <a class="ds_default-link" href="/developer/create-project/form?fieldId=2">here</a>.',
        assetPath: assetPath
      }) }}
    {% endif %}


    {% if data['projectResponseValidated'] %}
      {{ banner({
        status: 'success',
        title: "Draft complete",
        message: 'Your project draft has been completed. Submit your draft for approval <a class="ds_default-link" href="/register/success">here</a>.',
        assetPath: assetPath
      }) }}
    {% endif %}

    {% macro getProjectStatus(value) %}
      {% if value == 1 %}
        <strong class="ds_tag ds_tag--grey" aria-hidden="true">Incomplete</strong>
      {% elif value == 2 %}
        <strong class="ds_tag ds_tag--green" aria-hidden="true">Complete</strong>
      {% else %}
        <strong>Not started</strong>
      {% endif %}
    {% endmacro %}

    {% block mainContent %}
    <div class="ds_layout__content">
      <h2>Basic details</h2>
      <ul class="ds_task-list">
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              {% if data.project.status['1'] == 2 %}
                <a class="ds_task-list__task-link" href="/developer/answer-summary/1">Project details and description<span class="visually-hidden">(Completed)</span></a>
              {% else %}
                <a class="ds_task-list__task-link" href="/developer/create-project/form?fieldId={{ idQuery[0] }}">Project details and description<span class="visually-hidden">(Completed)</span></a>
              {% endif %}
            </h3>
          </div>
          {{ getProjectStatus(data.project.status['1']) }}
        </li>
      </ul>
      <h2>Carbon calculations</h2>
      <ul class="ds_task-list">
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/developer/create-project/document-upload">Upload your carbon calculations<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          {% set csvFile = data.project.responses.csvFile and 2 or 0 %}
          {{ getProjectStatus(csvFile) }}
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              {% if data.project.status['2'] == 2 %}
                <a class="ds_task-list__task-link" href="/developer/answer-summary/2">Project timeline<span class="visually-hidden">(Completed)</span></a>
              {% else %}
                <a class="ds_task-list__task-link" href="/developer/create-project/form?fieldId={{ idQuery[1] }}">Project timeline<span class="visually-hidden">(Completed)</span></a>
              {% endif %}
            </h3>
          </div>
          {{ getProjectStatus(data.project.status['2']) }}
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
          {% if data.project.responses.standard == "UK Woodland Carbon Code" %}
            {% set statusIndex = '3' %}
          {% else %}
            {% set statusIndex = '5' %}
          {% endif %}
              {% if data.project.status[statusIndex] == 2 %}
              <a class="ds_task-list__task-link" href="/developer/answer-summary/{{ statusIndex }}">Carbon calculation details<span class="visually-hidden">(Completed)</span></a>
              {% else %}
              <a class="ds_task-list__task-link" href="/developer/create-project/form?fieldId={{ idQuery[2] }}">Carbon calculation details<span class="visually-hidden">(Completed)</span></a>
              {% endif %}
            </h3>
          </div>
          {{ getProjectStatus(data.project.status[statusIndex]) }}
        </li>
      </ul>
      <h2>Site details</h2>
      <ul class="ds_task-list">
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/developer/create-project/document-upload">Upload your site map<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          {% set pdfFile = data.project.responses.pdfFile and 2 or 0 %}
          {{ getProjectStatus(pdfFile) }}
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              {% if data.project.status['4'] == 2 %}
                <a class="ds_task-list__task-link" href="/developer/answer-summary/4">Project site details<span class="visually-hidden">(Completed)</span></a>
              {% else %}
              <a class="ds_task-list__task-link" href="/developer/create-project/form?fieldId={{ idQuery[3] }}">Project site details<span class="visually-hidden">(Completed)</span></a>
              {% endif %}
            </h3>
          </div>
          {{ getProjectStatus(data.project.status['4']) }}
        </li>
      </ul>
      {% if data['projectResponseValidated'] %}
        <button
          onclick="window.location.href = '/register/success'"
          style="margin-top: 3rem;"
          class="ds_button ds_button--has-icon">
          Submit your application
          <svg class="ds_icon" aria-hidden="true" role="img">
            <use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use>
          </svg>
        </button>
      {% endif %}
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}
