{% from "components/side-navigation.html" import sideNavigation %}
{% from "components/quick-actions.html" import quickActions %}

{% extends "/layouts/main.html" %}

{% block pageTitle %}Developer Dashboard{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout ds_layout--search-results--filters">
    {% block mainHeader %}
      <div class="ds_layout__header">
        <header class="ds_page-header">
        </header>
      </div>
    {% endblock %}

    {% set quickActionItems = [
      {title: "View credit summary" ,summary: "Check total credits issued, retired, and available across your project portfolio", href: "/developer/manage-units"},
      {title: "View recent transfers" ,summary: "Review and manage recent carbon credit transfers between accounts", href: "/developer/manage-units/transfers"},
      {title: "Download account statements" ,summary: "Download detailed transaction and balance statements for your registry account", href: "/developer/manage-units/account-statements"}
    ] %}

    {% set navItems = [
      { href: "/", label: "Milestones" },
      { href: "/#tasks", label: "Tasks" }
    ] %}

    <div class="ds_layout__sidebar">
    {{ sideNavigation(navItems) }}
    </div>

    {% block mainContent %}
    <div class="ds_layout__list side_navigation">
      {% if data['validationSubmited'] and not data['paymentSuccess']%}
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Validation successful – payment may be due
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            {{ data['validationSubmited'] }} has been validated. Check the invoice for payments due.
            <a class="govuk-notification-banner__link" href="/developer/my-projects/{{ (projects | first).details_url }}/verification">View invoice</a>
          </p>
        </div>
      </div>
      {% endif %}
      <h2 class="ds_section__title">Quick actions</h2>
      {{ quickActions(quickActionItems) }}
      <h2>Upcoming milestones</h2>
      <div class="table-overflow">
          <table class="govuk_table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Project</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Due date</th>
                <th scope="col" class="govuk-table__header">Action needed</th>
              </tr>
            </thead>
            <tbody>
              {% for project in myProjects | customSelectAttr('status', 2) %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ project.name }}</td>
                <td class="govuk-table__cell">{{ data['statusEnum'][project.status] }}</td>
                <td class="govuk-table__cell">{{ loop.index * 12 }}/{{ loop.index * 3 }}/2025</td>
                <td class="govuk-table__cell"><a class="ds_link" href="/developer/validate-project/{{ project.details_url}}?fieldId=1">Submit for validation</a></td>
              </tr>
              {% endfor %}
              {% for project in myProjects | customSelectAttr('status', 3) %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ project.name }}</td>
                <td class="govuk-table__cell">{{ data['statusEnum'][project.status] }}</td>
                <td class="govuk-table__cell">{{ loop.index * 13 }}/{{ loop.index * 6 }}/2025</td>
                <td class="govuk-table__cell"><a class="ds_link" href="">Submit issuances</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a class="ds_link" href="/developer/manage-units">View all</a>
      </div>
      <h2 id="tasks">Tasks</h2>
      <ul class="ds_task-list">
        {% for project in projects | customSelectAttr('status', [3, 4]) %}
        <li class="ds_task-list__task" id="task1">
            <div class="ds_task-list__task-details">
                <h3 class="ds_task-list__task-heading">
                    <a class="ds_task-list__task-link" href="/developer/validate-project/{{ project.details_url}}?fieldId=1">{{ project.name }} <span class="visually-hidden">(Completed)</span></a>
                </h3>
                <p class="ds_hint-text  ds_task-list__task-summary">
                  {% if project.status == 3 %}
                    Project validation submitted: 25 January 2025
                  {% else %}
                    Submit project for validation by: 25 July 2025
                  {% endif %}
                </p>
            </div>
            {% if project.status == 3 %}
              <strong class="ds_tag  ds_tag--green" aria-hidden="true">Completed</strong>
            {% else %}
              <strong>Incomplete</strong>
            {% endif %}
        </li>
        {% endfor %}
      </ul>
    {% endblock %}
  </main>
</div>
{% endblock %}
