{% extends "/layouts/main.html" %}

{% block pageTitle %}Developer Dashboard{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">

          {% if not data['paymentSuccess'] %}
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Validation successful – payment may be due
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                {{ (projects | first).name }} has been validated. Check the invoice for payments due.
                <a class="govuk-notification-banner__link" href="/developer/my-projects/{{ (projects | first).details_url }}/verification">View invoice</a>
              </p>
            </div>
          </div>
          {% endif %}
        </header>
      </div>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content project-details">
      <h1>Overview</h1>
      <div class="ds_accordion" data-module="ds-accordion">
        <div class="ds_accordion-item account-summary">
          <input type="checkbox" class="visually-hidden ds_accordion-item__control" checked id="panel-1" aria-labelledby="panel-1-heading">
          <div class="ds_accordion-item__header">
            <h2 id="panel-1-heading" class="ds_accordion-item__title">
              Recent transfers
            </h2>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-1"><span class="visually-hidden">Show all</span></label>
          </div>
          <div class="ds_accordion-item__body table-overflow">
              <table class="govuk_table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Category</th>
                    <th scope="col" class="govuk-table__header">Standard</th>
                    <th scope="col" class="govuk-table__header">Project Type</th>
                    <th scope="col" class="govuk-table__header">Units Sold</th>
                    <th class="govuk-table__header"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for project in myProjects | customSelectAttr('status', 4) %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ project.name }}</td>
                    <td class="govuk-table__cell">{{ project.category }}</td>
                    <td class="govuk-table__cell">{{ project.standard_name }}</td>
                    <td class="govuk-table__cell">{{ project.type }}</td>
                    <td class="govuk-table__cell">{{ project.status * 100 }}</td>
                    <td class="govuk-table__cell">
                      <button type="button" class="ds_link"
                        onclick="window.location.href='projects/{{ project.details_url }}'">
                        View
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="ds_accordion" data-module="ds-accordion">
        <div class="ds_accordion-item account-summary">
          <input type="checkbox" class="visually-hidden ds_accordion-item__control" id="panel-1" aria-labelledby="panel-1-heading">
          <div class="ds_accordion-item__header">
            <h2 id="panel-1-heading" class="ds_accordion-item__title">
              Projects - Under development
            </h2>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-1"><span class="visually-hidden">Show all</span></label>
          </div>
          <div class="ds_accordion-item__body table-overflow">
            <table class="govuk_table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Category</th>
                  <th scope="col" class="govuk-table__header">Standard</th>
                  <th scope="col" class="govuk-table__header">Project Type</th>
                  <th scope="col" class="govuk-table__header">Date submitted</th>
                  <th class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody>
                {% for project in myProjects  | customSelectAttr('status', 2) %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ project.name }}</td>
                  <td class="govuk-table__cell">{{ project.category }}</td>
                  <td class="govuk-table__cell">{{ project.standard_name }}</td>
                  <td class="govuk-table__cell">{{ project.type }}</td>
                  <td class="govuk-table__cell">{{ project.status}}/{{project.status + loop.index }}/2023</td>
                  <td class="govuk-table__cell">
                    <button type="button" class="ds_link"
                      onclick="window.location.href='projects/{{ project.details_url }}'">
                      View
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {% macro milestoneList(projects, title, summary, open=false) %}
        <div class="ds_category-item">
          <h2>{{ title }}</h2>
          <details class="ds_details"{% if open %} open{% endif %}>
            <summary class="ds_details__summary">{{ summary }}</summary>
            {% for project in projects %}
              <div class="ds_details__text">
                <p>{{ project.name }} |
                  {% set label =
                    loop.index == 1 and "Project validation" or
                    loop.index == 2 and "Restoration validation" or
                    loop.index == 3 and "Issuance verification" or
                    "Validation"
                  %}
                  <b>{{ label }}: <span style="white-space: nowrap;">25 April 2025</span></b>
                </p>
              </div>
            {% endfor %}
          </details>
        </div>
      {% endmacro %}

    </div>
    <div class="ds_category-list ds_layout__sidebar">
    {{ milestoneList(projects | customSelectAttr('status', 2), "Upcoming milestones", "View milestones", true) }}
    {{ milestoneList(projects | customSelectAttr('status', 3), "Pending payments", "View invoices", true) }}
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}
