{% from "components/form-fields.html" import renderField %}
{% extends "/layouts/main.html" %}

{% block pageTitle %}Validate Project{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% set fields = [
  { id: 1, label: "Select a validator", fieldType: "dropdown",
    options: validators | mapToOptions('name'),
    helpText: "Accredited by the UK Accreditation Service according to ISO 14065, ISO 14064-3 and ISO 17029.",
    readonly: false, formGroupId: 2, formGroup: "Who is your validator(VVB)?" },
  { id: 2, formGroupId: 2, formGroup: "Confirm validation details"}
] %}

{% set currentFieldId = data['fieldId'] | int %}
{% set fields = fields | customSelectAttr("id", currentFieldId) %}

{% if currentFieldId == 2 %}
  {% set name = "validationSubmited" %}
  {% set value = project.name %}
  {% set buttonText = "Submit project for validation" %}
{% else %}
  {% set name = "fieldId" %}
  {% set value = currentFieldId + 1 %}
  {% set buttonText = "Next steps" %}
{% endif %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainContent %}
    <div class="ds_layout__content">
      <fieldset>
        <form action="/developer/validate-project/{{ project.details_url }}" method="post">
          {% for field in fields %}
          {% if field.formGroup != currentGroup %}
              <div class="ds_page-header">
                <h1 class="ds_page-header__title">
                  {{ field.formGroup }}
                </h1>
              </div>
              {% set currentGroup = field.formGroup %}
            {% endif %}

            {% if currentFieldId == 2 %}
            <ol class="ds_summary-list">
              {% set projectDetails = [
              { key: "Account name", value: project.account_name, id: "invoice-registration" },
              { key: "Project ID", value: project.id, id: "invoice-validation" },
              { key: "Project name", value: project.name, id: "invoice-compliance" },
              { key: "Project description", value: project.description, id: "invoice-compliance" },
              { key: "Validator", value: data['select_a_validator'], id: "invoice-compliance" }
              ]%}

              {% for field in projectDetails %}
              <li class="ds_summary-list__item">
                <span class="ds_summary-list__key" id="{{ field.id }}">{{ field.key }}</span>
                <span class="ds_summary-list__value">
                  <q class="ds_summary-list__answer">{{ field.value }}</q>
                </span>
              </li>
              {% endfor %}
            </ol>
            {% else %}
              {{ renderField(field, field.value) }}
            {% endif %}
          {% endfor %}

          <div class="button-group">
            <button
              type="submit"
              name="{{ name }}"
              value="{{ value }}"
              class="ds_button ds_button--has-icon">
              {{ buttonText }}
              <svg class="ds_icon" aria-hidden="true" role="img">
                <use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use>
              </svg>
            </button>
          </div>
        </form>
      </fieldset>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}