{% extends "/layouts/main.html" %} 

{% block pageTitle %}{{ project.name }}{% endblock %} 

{# Back link - in place of breadcrumbs #} {% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="/registry">Back to registry</a>
</div>
{% endblock %} 

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">{{ project.name }}</h1>
          <p class="ds_page-header__description">
            {{ project.category }} - {{ project.projectType }}
          </p>
        </header>
      </div>
    </div>

    <ol class="ds_summary-list">
      <li class="ds_summary-list__item">
        <span class="ds_summary-list__key" id="q1">Standard Name</span>
        <span class="ds_summary-list__value"
          ><q class="ds_summary-list__answer"
            >{{ project.standardName }}</q
          ></span
        >
      </li>
      <li class="ds_summary-list__item">
        <span class="ds_summary-list__key" id="q2">Status</span>
        <span class="ds_summary-list__value"
          ><q class="ds_summary-list__answer">{{ project.status }}</q></span
        >
      </li>
      <li class="ds_summary-list__item">
        <span class="ds_summary-list__key" id="q3">PIUs Listed</span>
        <span class="ds_summary-list__value"
          ><q class="ds_summary-list__answer">{{ project.piusListed }}</q></span
        >
      </li>
      <li class="ds_summary-list__item">
        <span class="ds_summary-list__key" id="q4">Validator</span>
        <span class="ds_summary-list__value"
          ><q class="ds_summary-list__answer">{{ project.validator }}</q></span
        >
      </li>
      <li class="ds_summary-list__item">
        <span class="ds_summary-list__key" id="q5">Developer</span>
        <span class="ds_summary-list__value"
          ><q class="ds_summary-list__answer">{{ project.developer }}</q></span
        >
      </li>
      <li class="ds_summary-list__item">
        <span class="ds_summary-list__key" id="q6">Country</span>
        <span class="ds_summary-list__value"
          ><q class="ds_summary-list__answer">{{ project.country }}</q></span
        >
      </li>
      <li class="ds_summary-list__item">
        <span class="ds_summary-list__key" id="q7">Address</span>
        <span class="ds_summary-list__value"
          ><q class="ds_summary-list__answer">{{ project.address }}</q></span
        >
      </li>
    </ol>
  </main>
</div>
{% endblock %}
