{% from "components/file.html" import fileDownload %}
{% from "components/map.html" import renderMap %}

{% extends "/layouts/main.html" %}

{% block pageTitle %}Units overview{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout ds_layout--search-results--filters">
      {% block mainHeader %}
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title"></h1>
        </header>
      </div>
      {% endblock %}

      {% include "/developer/manage-units/side-navigation.html" %}

      {% block mainContent %}
      <div class="ds_layout__list">
        <h2 class="ds_section__title">Project details</h2>
        <ol class="ds_summary-list">
          {% set projectFields = [
            { key: "Category", value: project.category, id: "field-category" },
            { key: "Type", value: project.type, id: "field-type" },
            { key: "Standard", value: project.standard_name, id: "field-standard" },
            { key: "Status", value: data['statusEnum'][project.status], id: "field-status" },
            { key: "PIUs Listed", value: project.pius_listed, id: "field-pius" },
            { key: "Validator", value: project.validator, id: "field-validator" },
            { key: "Developer", value: project.developer, id: "field-developer" },
            { key: "Country", value: project.country, id: "field-country" },
            { key: "Address", value: project.address, id: "field-address" }
          ] %}

          {% for field in projectFields %}
            <li class="ds_summary-list__item ds_small">
              <span class="ds_summary-list__key" id="{{ field.id }}">{{ field.key }}</span>
              <span class="ds_summary-list__value">
                <q class="ds_summary-list__answer">{{ field.value }}</q>
              </span>
              {% if authenticated %}
                <div class="ds_summary-list__actions">
                  <button type="button" class="ds_link" aria-describedby="{{ field.id }}">Change</button>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
      {% endblock %}
  </main>
</div>
{% endblock %}
