{% from "components/side-navigation.html" import sideNavigation %}

{% block mainSidebar %}
<div class="ds_layout__sidebar">
  <div>
    <label class="ds_label" for="component">Filter by account</label>
    <div class="ds_select-wrapper  ds_input--fluid-one-third">
        <select class="ds_select" id="component" name="component">
            <option value="">All</option>
            {% for account in myAccounts %}
              <option value="{{ account.id }}">{{ account.account_name }}</option>
            {% endfor %}
        </select>
        <span class="ds_select-arrow" aria-hidden="true"></span>
    </div>
  </div>

  {% set navItems = [
    { href: "/developer/manage-units", label: "Overview" },
    { href: "/developer/manage-units/transfers", label: "Transfers" },
    { href: "/developer/manage-units/retire", label: "Retirements" },
    { href: "/developer/manage-units/account-statements", label: "Account Statements" }
  ] %}

  {{ sideNavigation(navItems) }}
</div>
{% endblock %}