{% from "components/file.html" import fileDownload %}
{% from "components/map.html" import renderMap %}
{% from "components/quick-actions.html" import quickActions %}
{% from "components/banner-notification.html" import banner %}

{% extends "/layouts/main.html" %}

{% block pageTitle %}Transfers{% endblock %}

{% set quickActionItems = [
  {title: "New transfer" ,summary: "Create a new credit transfer", href: "/developer/manage-units/new-transfer?fieldId=1"},
  {title: "Pending transfers" ,summary: "Review transfers pending client/regulator confirmation", href: ""},
  {title: "Export all" ,summary: "", href: ""}
] %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout ds_layout--search-results--filters">
      {% block mainHeader %}
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title"></h1>
        </header>
      </div>
      {% endblock %}


      {% include "/developer/manage-units/side-navigation.html" %}


      {% block mainContent %}
      <div class="ds_layout__list table-overflow">

        {% if data['transferCompleted'] %}
          {{ banner({
            status: 'success',
            title: 'Credit transfer successful',
            message: 'Transfer of ' ~ data['quantity'] ~ ' units to ' ~ data['recipient_account'] ~ ' is pending confirmations.',
            assetPath: assetPath
          }) }}
        {% endif %}
        <h2 class="ds_section__title">Quick actions</h2>
        {{ quickActions(quickActionItems) }}
        <h2 class="ds_section__title">Transfers summary</h2>
        <table class="ds_table">
          <thead>
            <tr>
              <th scope="col">PIU's Transfered</th>
              <th scope="col">Verified Units Transfered</th>
              <th scope="col">Pending Trasfers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2,376,780</td>
              <td>12,100</td>
              <td>52,450</td>
            </tr>
          </tbody>
        </table>
        <h2 class="ds_section__title">Transfer history</h2>
        <table class="govuk_table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Credit block</th>
              <th scope="col" class="govuk-table__header">PIU's</th>
              <th scope="col" class="govuk-table__header">Verfied units</th>
              <th scope="col" class="govuk-table__header">Transfered To</th>
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody>
            {% for project in myProjects  | customSelectAttr('status', [3, 4]) %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ project.name }}</td>
              <td class="govuk-table__cell">{{ project.piu_units }}</td>
              <td class="govuk-table__cell">{{ project.verified_units }}</td>
              <td class="govuk-table__cell">{{ myProjects[myProjects.length - loop.index].name }}</td>
              <td class="govuk-table__cell">{{ loop.index + 2 }}/{{ loop.index + 3 % 12 }}/2025</td>
              <td class="govuk-table__cell" style="text-align: right;">
                <a class="ds_link" href='/public/account-statements/{{ "January 2025" | urlencode }}.pdf' target="_blank">View receipt</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% include "components/pagination" %}
      </div>
      {% endblock %}
  </main>
</div>
{% endblock %}
