{% extends "/layouts/main.html" %}

{% block pageTitle %}Create Project{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% set fields = [
  { id: 1, label: "PIUs listed", fieldType: "text", value: project.pius_listed, helpText: "Current units available: " ~ project.piu_units, formGroupId: 1, formGroup: "Update your units to be listed" },
  { id: 2, label: "Verified listed", fieldType: "text", value: project.verified_listed, readonly: false, helpText: "Current units available: " ~ project.verified_units, formGroupId: 1, formGroup: "Update your units to be listed" }
] %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainContent %}
    <div class="ds_layout__content">
      <fieldset>
        <form action="/developer/manage-units/update-listing" method="post">
          {% for field in fields %}
            {% if field.formGroup != currentGroup %}
            <div class="ds_page-header">
              <h1 class="ds_page-header__title">
                {{ field.formGroup }}
              </h1>
            </div>
            {% set currentGroup = field.formGroup %}
            {% endif %}
            <div class="form-group">
              <label class="ds_label" for="{{ field.id }}">{{ field.label }}</label>
                <p class="ds_hint-text">{{ field.helpText }}</p>

                <input class="ds_input ds_input--fluid-one-third"
                  {% if field.readonly %}readonly{% endif %}
                  type="text"
                  id="{{ field.id }}"
                  name="{{ field.label | lower | replace(" ", "_") }}"
                  value="{{ data['project']['responses'][field.label | lower | replace(" ", "_")] or field.value or '' }}">
              </div>
          {% endfor %}

          <div class="button-group">
            <button
              type="submit"
              name="id"
              value="{{ project.id }}"
              class="ds_button ds_button--has-icon">
              Update listed units
              <svg class="ds_icon" aria-hidden="true" role="img">
                <use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use>
              </svg>
            </button>
          </div>
        </form>
      </fieldset>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}