{% from "components/form-fields.html" import renderField %}
{% extends "/layouts/main.html" %}

{% block pageTitle %}Validate Project{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% set fields = [
  { id: 1, label: "Quantity", fieldType: "text",length: "ds_input--fluid-half", readonly: false, formGroupId: 1, formGroup: "Create a Bid Offer" },
  { id: 1, label: "Price per unit (£)", fieldType: "text",length: "ds_input--fluid-half", readonly: false, formGroupId: 1, formGroup: "Create a Bid Offer" }
] %}

{% set currentFieldId = data['fieldId'] | int %}
{% set fields = fields | customSelectAttr("id", currentFieldId) %}

{% if currentFieldId == 1 %}
  {% set name = "bidSubmitted" %}
  {% set value = project.name %}
  {% set buttonText = "Enter bid" %}
{% else %}
  {% set name = "fieldId" %}
  {% set value = currentFieldId + 1 %}
  {% set buttonText = "Next steps" %}
{% endif %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainContent %}
    <div class="ds_layout__content">
      <fieldset>
        <form action="/trader/dashboard" method="post">
          {% for field in fields %}
          {% if field.formGroup != currentGroup %}
              <div class="ds_page-header">
                <h1 class="ds_page-header__title">
                  {{ field.formGroup }}
                </h1>
              </div>
              {% if currentFieldId == 1 %}
              <dl class="ds_page-header__metadata  ds_metadata" style="margin-bottom: 3rem;">
                  <div class="ds_metadata__item">
                    <dt class="ds_metadata__key">From</dt>
                    <dd class="ds_metadata__value">trader_name@account.com</dd>
                  </div>
                  <div class="ds_metadata__item">
                    <dt class="ds_metadata__key">Project name</dt>
                    <dd class="ds_metadata__value">{{ project.name }}</dd>
                  </div>
                  <div class="ds_metadata__item">
                    <dt class="ds_metadata__key">Project type</dt>
                    <dd class="ds_metadata__value">{{ project.type }}</dd>
                  </div>
                  <div class="ds_metadata__item">
                    <dt class="ds_metadata__key">Project standard</dt>
                    <dd class="ds_metadata__value">{{ project.standard }}</dd>
                  </div>
                  <div class="ds_metadata__item">
                    <dt class="ds_metadata__key">PIU units available</dt>
                    <dd class="ds_metadata__value">{{ project.pius_listed }}</dd>
                  </div>
                  <div class="ds_metadata__item">
                    <dt class="ds_metadata__key">Verified units available</dt>
                    <dd class="ds_metadata__value">{{ project.verified_listed }}</dd>
                  </div>
                </dl>
                <h2>Bid details</h2>
              {% endif %}
              {% set currentGroup = field.formGroup %}
            {% endif %}
            {{ renderField(field, field.value) }}
          {% endfor %}

          <div class="button-group">
            <button
              type="submit"
              name="{{ name }}"
              value="{{ value }}"
              class="ds_button ds_button--has-icon">
              {{ buttonText }}
              <svg class="ds_icon" aria-hidden="true" role="img">
                <use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use>
              </svg>
            </button>
          </div>
        </form>
      </fieldset>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}