

{% block mainSidebar %}
<div class="ds_layout__sidebar">
  <div class="ds_site-search">
    <form role="search" class="ds_site-search__form" action="/registry" method="POST">
      <label class="ds_label" for="searchBy">Search by</label>
      <div class="ds_select-wrapper  ds_input--fluid-one-third">
        <select class="ds_select" id="searchBy" name="searchBy" onchange="this.form.submit()" value="{{ data['searchBy'] }}">
          <option value="name" {% if data.searchBy == 'name' %}selected{% endif %}>Project Name</option>
          <option value="id" {% if data.searchBy == 'id' %}selected{% endif %}>Project Id</option>
        </select>
        <span class="ds_select-arrow" aria-hidden="true"></span>
      </div>

      <label class="ds_label visually-hidden" for="registry-search">Registry search</label>
      <div class="ds_input__wrapper ds_input__wrapper--has-icon">
        <input name="searchString" id="registry-search" class="ds_input ds_site-search__input" type="search" placeholder="Search by project {{ data['searchBy'] }}" autocomplete="off" value="{{ data['searchString'] }}"/>
        <button type="submit" class="ds_button js-site-search-button">
          <span class="visually-hidden">Search by {{ hash }} {{ data['searchBy'] }}</span>
          <svg class="ds_icon" aria-hidden="true" role="img">
            <use href="{{ assetPath }}/images/icons/icons.stack.svg#search"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
  <div class="ds_search-filters">
    <h3 class="ds_search-filters__title ds_h4">Filter by</h3>
    <form id="filters" action="/registry" method="POST">
      <div class="ds_accordion ds_accordion--small ds_!_margin-top--0" data-module="ds-accordion">
        {% for key, values in filters %}
          {% set panelId = "panel-" + loop.index %}
          <div class="ds_accordion-item">
            <input type="checkbox" class="visually-hidden ds_accordion-item__control" id="{{ panelId }}" aria-labelledby="{{ panelId }}-heading" />
            <div class="ds_accordion-item__header">
              <h3 id="{{ panelId }}-heading" class="ds_accordion-item__title">
                {{ key }}
                <span class="ds_search-filters__filter-count{% if not data[key | lower | replace(' ', '_')] %} visually-hidden{% endif %}">
                  ({{ data[key | lower | replace(" ", "_")].length }} Selected)
                </span>
              </h3>
              <span class="ds_accordion-item__indicator"></span>
              <label class="ds_accordion-item__label" for="{{ panelId }}"><span class="visually-hidden">Show this section</span></label>
            </div>
            <div class="ds_accordion-item__body">
              <fieldset>
                <legend class="visually-hidden">Select {{ key }}</legend>
                <div class="ds_search-filters__scrollable">
                  <div class="ds_search-filters__checkboxes">
                    {% for value in values %}
                      {% set inputId = key | replace(" ", "-") | lower + "-" + loop.index %}
                      <div class="ds_checkbox ds_checkbox--small">
                        <input
                          id="{{ inputId }}"
                          name="{{ key | lower | replace(" ", "_") }}"
                          class="ds_checkbox__input"
                          type="checkbox"
                          value="{{ value }}"
                          {% if data[key | lower | replace(" ", "_")] %}
                            {% if value in data[key | lower | replace(" ", "_")] %}
                              checked
                            {% endif %}
                          {% endif %}
                        />
                        <label for="{{ inputId }}" class="ds_checkbox__label">
                          {% if key == 'Status' %}
                            {{ data['statusEnum'][value] }}
                          {% else %}
                            {{ value }}
                          {% endif %}
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        {% endfor %}
      </div>
      <button type="submit" name="submitAction" value="submit" class="ds_button ds_button--primary ds_button--small ds_no-margin">
        Apply filter
      </button>
      <button id="clear-filters" name="submitAction" value="reset"  class="ds_button ds_button--secondary ds_button--small ds_no-margin">
        Clear filters
        <svg class="ds_facet__button-icon" aria-hidden="true" role="img" focusable="false">
          <use href="{{ assetPath }}/images/icons/icons.stack.svg#cancel"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
{% endblock %}
