{% extends "/layouts/main.html" %}

{% block pageTitle %}Account dashboard{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% from "components/summary-list.html" import summaryList %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout  ds_layout--question-page">

    {% block mainHeader %}
    <div class="ds_layout__header">
      <header class="ds_page-header" style="display: flex">
        <h1 class="ds_page-header__title">{{ account.account_name if account.account_name }}</h1>
        <strong class="ds_tag ds_tag--green" aria-hidden="true" style="margin: 15px;">Verified</strong>
      </header>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content">
      <form action="/account" method="post">
        <ul class="ds_summary-list">
          <li class="ds_summary-list__item">
            <span class="ds_summary-list__key">Classification</span>
            <span class="ds_summary-list__value" id="q{{ loop.index }}">
              <q class="ds_summary-list__answer">{{ account.classification }}</q>
            </span>
          </li>
          <li class="ds_summary-list__item">
            <span class="ds_summary-list__key">Account Manager</span>
            <span class="ds_summary-list__value" id="q{{ loop.index }}">
              <q class="ds_summary-list__answer">{{ account.manager }}</q>
            </span>
          </li>
          <li class="ds_summary-list__item">
            <span class="ds_summary-list__key">Country</span>
            <span class="ds_summary-list__value" id="q{{ loop.index }}">
              <q class="ds_summary-list__answer">{{ account.country }}</q>
            </span>
          </li>
        </ul>
      </form>
    </div>
    {% endblock %}

  </main>
</div>
{% endblock %}
