{% from "components/summary-list.html" import summaryList %}
{% extends "/layouts/main.html" %}

{% block pageTitle %}Register{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="/register/privacy">Back</a>
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout  ds_layout--question-page">

    {% block mainHeader %}
    <div class="ds_layout__header">
      <header class="ds_page-header">
        <h1 class="ds_page-header__title">Please confirm your details</h1>
      </header>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content">
      <form action="/register/confirm-details" method="post">
        <div class="ds_question">
          {{ summaryList(data.registration.responses) }}
          <h2>Account manager details:</h2>
          {{ summaryList(data.registration.accountResponses) }}

          <div class="button-group">
            <button class="ds_button  ds_button--has-icon">
              Next
              <svg class="ds_icon" aria-hidden="true" role="img"><use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use></svg>
            </button>
          </div>
        </div>
      </form>
    </div>
    {% endblock %}

  </main>
</div>
{% endblock %}
