{% extends "/layouts/main.html" %}

{% block pageTitle %}Register{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="/register/confirm-details">Back</a>
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout  ds_layout--question-page">

    {% block mainContent %}
    <div class="ds_layout__content">
        
      {# Set the action attribute to the next page in your form's journey #}
      <form action="/register/registered-name" method="post">
        <div class="ds_question">
          <fieldset>
            <legend class="ds_page-header">
              <h1 class="ds_page-header__title">
                What is your organisation's Registered Name?
              </h1>
            </legend>

            {# Example of a form input - in this case a date input with datepicker #}
            <div>
              <label class="ds_label" for="fluid-50p">Registered Name</label>
              <input class="ds_input ds_input--fluid-half" type="text" id="fluid-50p" name="fluid-50p">
            </div>
              
          </fieldset>
        </div>
        <div class="button-group">
          <button class="ds_button  ds_button--has-icon">
            Next
            <svg class="ds_icon" aria-hidden="true" role="img"><use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use></svg>
          </button>
        </div>
      </form>

    </div>
    {% endblock %}

  </main>
</div>
{% endblock %}