{% extends "/layouts/main.html" %}

{% block pageTitle %}Register{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}

<div class="ds_wrapper">
  <main id="main-content" class="ds_layout  ds_layout--article">
    {% block mainHeader %}
    <div class="ds_layout__header">
        <header class="ds_page-header">
            <h1 class="ds_page-header__title">Register</h1>
        </header>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content ">
      <h2 id="task-list-status" class="ds_task-list-status-heading">What you will need to register an account:</h2>
      <ul>
        <li>Your organisation's Company Registration Number.</li>
        <li>Contact details for your account manager.</li>
      </ul>
      <a href="/register/company-number" class="ds_button ds_button--has-icon" style="margin-top: 3rem">
        Begin
        <svg class="ds_icon" aria-hidden="true" role="img"><use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use></svg>
      </a>
    {% endblock %}
  </main>
</div>

{% endblock %}