{% extends "/layouts/main.html" %}

{% block pageTitle %}Register{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}
<div class="ds_wrapper">
    <main id="main-content" class="ds_layout ds_layout--article">

      {% if userType == 'developer' and data['paymentSuccess'] %}
        {% set title = "Payment successful" %}
        {% set message = "Project is now submitted for validation" %}
        {% set action = "You may view your project <a class='ds_default-link' href='/my-projects'>here</a> or return to the <a class='ds_default-link' href='/'>home page</a>." %}
<!-- need to differentiate between registration submit and project submit -->
<!--      {% elseif  userType == 'developer' %}-->
<!--        {% set title = "Form Submitted" %}-->
<!--        {% set message = "Project is sent for review by regulators" %}-->
<!--        {% set action = "You may view your invoice <a class='ds_default-link' href='/my-projects/highland-rewilding/verification'>here</a> or return to the <a class='ds_default-link' href='/'>home page</a>." %}-->
      {% else %}
        {% set title = "Registration Complete" %}
        {% set message = "Your registration was successful and your account has been created." %}
        {% set action = "Before your account becomes active you will need to verify your account, go to your <a href='/account/verification'>verification dashboard</a> to complete the checks." %}
      {% endif %}

        {% block mainHeader %}
        <div class="ds_layout__header">
            <header class="ds_page-header">
                <div class="ds_notification-panel ds_notification-panel--success">
                    <h1 class="ds_notification-panel__title">{{ title }}</h1>
                    <div class="ds_notification-panel__content">{{ message }}</div>
                </div>
            </header>
        </div>
        {% endblock %}

        {% block mainContent %}
        <div class="ds_layout__content">
            <p>{{ action | safe }}</p>
        </div>
        {% endblock %}
    </main>
</div>
{% endblock %}
