{% extends "/layouts/main.html" %}

{% block pageTitle %}Create Project{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">Project Registration</h1>
        </header>
      </div>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content">
      <h2>Upload your documents</h2>
      <ul class="ds_task-list">
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/create-project/document-upload">Upload your site map<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          <strong class="{% if data['project']['responses']['grid_reference'] %}ds_tag ds_tag--green{% endif %}" aria-hidden="true">
            {% if data['project']['responses']['grid_reference'] %}Draft completed{% else %}Not started{% endif %}
          </strong>
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/create-project/document-upload">Upload your carbon calculations<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          <strong class="" aria-hidden="true">Not started</strong>
        </li>
      </ul>
      <h2>Continue your progress</h2>
      <ul class="ds_task-list">
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/create-project/form?fieldId=4">Project activity and type<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
        </li>
      </ul>
      <h2>Create project submission</h2>
      <ul class="ds_task-list">
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/create-project/form?fieldId=1">Project details and description<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          <strong class="ds_tag  ds_tag--green" aria-hidden="true">Draft completed</strong>
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/create-project/form?fieldId=4">Project activity and type<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          <strong class="ds_tag  ds_tag--grey" aria-hidden="true">Incomplete</strong>
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/create-project/form?fieldId=10">Addtional information<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          <strong class="" aria-hidden="true">Not started</strong>
        </li>
        <li class="ds_task-list__task" id="task1">
          <div class="ds_task-list__task-details">
            <h3 class="ds_task-list__task-heading">
              <a class="ds_task-list__task-link" href="/create-project/form?fieldId=19">Project site details<span class="visually-hidden">(Completed)</span></a>
            </h3>
          </div>
          <strong class="{% if data['project']['responses']['grid_reference'] %}ds_tag ds_tag--green{% endif %}" aria-hidden="true">
            {% if data['project']['responses']['grid_reference'] %}Draft completed{% else %}Not started{% endif %}
          </strong>
        </li>
      </ul>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}
