{% extends "/layouts/main.html" %}

{% block pageTitle %}Invoice/Payment{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}


{% block breadcrumbs %}
<div class="ds_notification  ds_reversed" data-module="ds-notification">
  <div class="ds_wrapper">
    <div class="ds_notification__content  ds_notification__content--has-close">
      <h2 class="visually-hidden">Information</h2>

      <span class="ds_notification__icon  ds_notification__icon--inverse  ds_notification__icon--colour"
        aria-hidden="true">
        <svg class="ds_icon  ds_icon--fill" aria-hidden="true" role="img">
          <use href="{{ assetPath }}/images/icons/icons.stack.svg#priority_high"></use>
        </svg>
      </span>

      <div class="ds_notification__text" style="color: white">
        <p style="color: white">20% of PIU's issued will be held in a buffer account. <a style="color: white" class="ds_link" href="#">Learn more about buffer accounts</a>.</p>
      </div>

      <button class="ds_notification__close  js-close-notification" type="button">
        <span class="visually-hidden">Close this notification</span>
        <svg class="ds_icon  ds_icon--fill" aria-hidden="true" role="img">
          <use href="{{ assetPath }}/images/icons/icons.stack.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<div class="ds_wrapper">
  <a class="ds_back-link" href="/">Back</a>
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">Invoice Summary – PIU's</h1>
        </header>
      </div>
    </div>
    {% endblock %}


    {% block mainContent %}
    <div class="ds_layout__content">
      <ol class="ds_summary-list">
        {% set billItems = [
        { key: "Pending Issuance Units (PIU's)", value: "10,000 units", id: "invoice-registration" },
        { key: "Buffer Account Deduction", value: "-2,000 units", id: "invoice-validation" },
        { key: "Total Units to be Issued	", value: "8,000 units", id: "invoice-compliance" }
        ]%}
        {% set total = [
          { key: "Issuance Fee (per PIU)", value: "£0.15", id: "invoice-compliance" },
          { key: "Issuance Fee Calculation", value: "10,000 * £0.15", id: "invoice-compliance" },
          { key: "Total Due", value: "£1,500", id: "invoice-total" }
        ] %}

        {% for field in billItems %}
        <li class="ds_summary-list__item">
          <span class="ds_summary-list__key" id="{{ field.id }}">{{ field.key }}</span>
          <span class="ds_summary-list__value">
            {% if loop.last and field.id == "invoice-total" %}
              <h2>{{ field.value }}</h2>
            {% else %}
              <q class="ds_summary-list__answer">{{ field.value }}</q>
            {% endif %}
          </span>
        </li>
        {% endfor %}
      </ol>

      <ol class="ds_summary-list">
        {% for field in total %}
        <li class="ds_summary-list__item">
          <span class="ds_summary-list__key" id="{{ field.id }}">{{ field.key }}</span>
          <span class="ds_summary-list__value">
            {% if loop.last and field.id == "invoice-total" %}
              <h2>{{ field.value }}</h2>
            {% else %}
              <strong class="ds_summary-list__answer">{{ field.value }}</strong>
            {% endif %}
          </span>
        </li>
        {% endfor %}
      </ol>

      <form action="/register/success" method="post">
        <button class="ds_button ds_button--max" type="submit" name="paymentSuccess" value="true"  style="margin-bottom: 1rem; width: max-content;">
          Pay online
        </button>
      </form>

      <div class="ds_inset-text">
        <div class="ds_inset-text__text">
          <b>Regulatory Requirements:</b>
          All carbon credit projects must comply with the applicable national and international standards for emissions
          reduction, including third-party validation and periodic monitoring. Additional documentation may be requested to
          verify ownership, methodology, and permanence.
          <br>
          <b>Eligibility Criteria:</b>
          Projects must demonstrate measurable environmental benefits, adhere to ethical land use practices, and align with
          Scotland’s climate targets. Only projects listed under recognised standards (e.g., Gold Standard, VCS) are
          eligible for registration.
        </div>
      </div>
    </div>
    {%  endblock %}
  </main>
</div>
{% endblock %}