{% from "components/file.html" import fileDownload %}
{% from "components/map.html" import renderMap %}
{% from "components/summary-list" import summaryList %}

{% extends "/layouts/main.html" %}

{% block pageTitle %}{{ project.name }}{% endblock %}

{% set projectFields = [
  { key: "Category", value: project.category, id: "field-category" },
  { key: "Type", value: project.type, id: "field-type" },
  { key: "Standard", value: project.standard_name, id: "field-standard" },
  { key: "Status", value: data['statusEnum'][project.status], id: "field-status" },
  { key: "PIUs Listed", value: project.pius_listed, id: "field-pius" },
  { key: "Validator", value: project.validator, id: "field-validator" },
  { key: "Developer", value: project.developer, id: "field-developer" },
  { key: "Country", value: project.country, id: "field-country" },
  { key: "Address", value: project.address, id: "field-address" }
] %}

{% set unitSummary = [
  { label: "PIU's", value: project.piu_units },
  { label: "PIUs listed", value: project.pius_listed, changeUrl: "/developer/manage-units/update-listing/" ~ project.details_url },
  { label: "Verified units", value: project.verified_units },
  { label: "Verified listed", value: project.verified_listed, changeUrl: "/developer/manage-units/update-listing/" ~ project.details_url },
  { label: "Retired units", value: project.retired_units }
] %}

{# Back link - in place of breadcrumbs #}
{% block breadcrumbs %}
<div class="ds_wrapper">
  {% if authenticated %}
    <a class="ds_back-link" href= "/developer/manage-units">Back</a>
  {% else %}
  <a class="ds_back-link" href="javascript:window.history.back()">Back</a>
  {% endif %}
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
          {% if authenticated %}
          <header class="ds_page-header">
            <h1 class="ds_page-header__title">{{ project.name }}</h1>
          </header>
          {% else %}
          <header class="ds_page-header">
            <h1 class="ds_page-header__title">{{ project.name }}</h1>
            <p class="ds_page-header__description">
              {{ project.category }} - {{ project.type }}
            </p>
          </header>
          <p>{{ project.description }}</p>
        {% endif %}
      </div>
    </div>
    {% endblock %}


    {% block mainContent %}
    <div class="ds_layout__content project-details">
      <h2>Units summary</h2>
       {{ summaryList(unitSummary) }}
      <h2 class="ds_section__title">Project details</h2>
      <ol class="ds_summary-list">
        {% for field in projectFields %}
          <li class="ds_summary-list__item ds_small">
            <span class="ds_summary-list__key" id="{{ field.id }}">{{ field.key }}</span>
            <span class="ds_summary-list__value">
              <q class="ds_summary-list__answer">{{ field.value }}</q>
            </span>
          </li>
        {% endfor %}
      </ol>
    </div>
    <div class="ds_layout__sidebar">
      <h2 class="ds_layout__sidebar-title">Site Map</h2>
      {{ renderMap(osApiKey, [project]) }}
      <h2 class="ds_layout__sidebar-title">Documents</h2>
      <div>
        {% for document in project.documents %}
          {{
          fileDownload(
            "/public/svg/" ~ document.type ~ ".svg",
            "/public/document/" ~ document.url,
            document.name,
            document.description,
            document.size
          )
          }}
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}

