{% from "components/file.html" import fileDownload %}

{% extends "/layouts/main.html" %}

{% block pageTitle %}{{ project.name }}{% endblock %}

{# Back link - in place of breadcrumbs #}
{% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">{{ project.name }}</h1>
          {% if not authenticated %}
          <p class="ds_page-header__description">
            {{ project.category }} - {{ project.type }}
          </p>
          {% endif %}
        </header>
        <p>{{ project.description }}</p>
      </div>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content project-details">
      <h2 class="ds_section__title">Project details</h2>
      <ol class="ds_summary-list">
        {% set projectFields = [
          { key: "Category", value: project.category, id: "field-category" },
          { key: "Type", value: project.type, id: "field-type" },
          { key: "Standard Name", value: project.standard_name, id: "field-standard" },
          { key: "Status", value: data['statusEnum'][project.status], id: "field-status" },
          { key: "PIUs Listed", value: project.pius_listed, id: "field-pius" },
          { key: "Validator", value: project.validator, id: "field-validator" },
          { key: "Developer", value: project.developer, id: "field-developer" },
          { key: "Country", value: project.country, id: "field-country" },
          { key: "Address", value: project.address, id: "field-address" }
        ] %}

        {% for field in projectFields %}
          <li class="ds_summary-list__item">
            <span class="ds_summary-list__key" id="{{ field.id }}">{{ field.key }}</span>
            <span class="ds_summary-list__value">
              <q class="ds_summary-list__answer">{{ field.value }}</q>
            </span>
            {% if authenticated %}
              <div class="ds_summary-list__actions">
                <button type="button" class="ds_link" aria-describedby="{{ field.id }}">Change</button>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
    <div class="ds_layout__sidebar">
      <h2 class="ds_layout__sidebar-title">Site Map</h2>
      <div id="map" style="width: 100%; height: 280px;"></div>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/OrdnanceSurvey/os-api-branding@0.3.1/os-api-branding.css" />
      <script src="https://cdn.jsdelivr.net/gh/OrdnanceSurvey/os-api-branding@0.3.1/os-api-branding.js"></script>
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
              integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
              crossorigin=""></script>

      <script>
        const apiKey = "{{ osApiKey }}";

        document.addEventListener("DOMContentLoaded", async function () {
          const latitude = {{ project.location.latitude }};
          const longitude = {{ project.location.longitude }};
          const map = L.map("map", {
            attributionControl: false,
            center: [latitude, longitude],
            zoom: 14,
          });

          L.tileLayer(`https://api.os.uk/maps/raster/v1/zxy/Outdoor_3857/{z}/{x}/{y}.png?key=${apiKey}`, {
            maxZoom: 17,
          }).addTo(map);

          var marker = L.marker([latitude,longitude]).addTo(map);
          marker.bindPopup("<b>{{ project.name }}</b><br>{{ project.address }}").openPopup();
        });
      </script>
      <h2 class="ds_layout__sidebar-title">Documents</h2>
      <div>
        {% for document in project.documents %}
          {{
          fileDownload(
            "/public/svg/" ~ document.type ~ ".svg",
            "/public/document/" ~ document.url,
            document.name,
            document.description,
            document.size
          )
          }}
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}

