{% extends "/layouts/main.html" %} 

{% block pageTitle %}{{ project.name }}{% endblock %} 

{# Back link - in place of breadcrumbs #} 
{% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="/{{ referer }}">Back</a>
</div>
{% endblock %} 

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainHeader %}
    <div class="ds_layout">
      <div class="ds_layout__header">
        <header class="ds_page-header">
          <h1 class="ds_page-header__title">{{ project.name }}</h1>
          {% if not authenticated %}
          <p class="ds_page-header__description">
            {{ project.category }} - {{ project.projectType }}
          </p>
          {% endif %}
        </header>
      </div>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__content">
      <ol class="ds_summary-list">
        {% set projectFields = [
          { key: "Category", value: project.category, id: "field-category" },
          { key: "Type", value: project.projectType, id: "field-type" },
          { key: "Standard Name", value: project.standardName, id: "field-standard" },
          { key: "Status", value: project.status, id: "field-status" },
          { key: "PIUs Listed", value: project.piusListed, id: "field-pius" },
          { key: "Validator", value: project.validator, id: "field-validator" },
          { key: "Developer", value: project.developer, id: "field-developer" },
          { key: "Country", value: project.country, id: "field-country" },
          { key: "Address", value: project.address, id: "field-address" }
        ] %}

        {% for field in projectFields %}
          <li class="ds_summary-list__item">
            <span class="ds_summary-list__key" id="{{ field.id }}">{{ field.key }}</span>
            <span class="ds_summary-list__value">
              <q class="ds_summary-list__answer">{{ field.value }}</q>
            </span>
            {% if authenticated %}
              <div class="ds_summary-list__actions">
                <button type="button" class="ds_link" aria-describedby="{{ field.id }}">Change</button>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}
