{% extends "/layouts/main.html" %}

{% block pageTitle %}Carbon Registry{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout ds_layout--search-results--filters">
    {% block mainHeader %}
    <div class="ds_layout__header">
      <header class="ds_page-header">
        <h1 class="ds_page-header__title">Registry search</h1>
      </header>
    </div>
    {% endblock %}

    {% include "/layouts/registry/search-filter.html" %}

    {% block mainContent %}
    <div class="ds_layout__list">
      <div class="ds_search-results">
        {% include "/layouts/registry/tab-nav.html" %}
      </div>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}
