{% extends "/layouts/main.html" %}

{% block pageTitle %}Carbon Registry{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content" class="ds_layout ds_layout--search-results--filters">
    {% block mainHeader %}
    <div class="ds_layout__header">
      <header class="ds_page-header">
        <h1 class="ds_page-header__title">Registry search</h1>
      </header>
    </div>
    {% endblock %}

    <div class="ds_layout__content">
      <div class="ds_site-search">
        <form role="search" class="ds_site-search__form" action="/registry" method="POST">
          <label class="ds_label" for="searchBy">Search by</label>
          <div class="ds_select-wrapper  ds_input--fluid-one-third">
              <select class="ds_select" id="searchBy" name="searchBy" onchange="this.form.submit()" value="{{ data['searchBy'] }}">
                <option value="name" {% if data.searchBy == 'name' %}selected{% endif %}>Project Name</option>
                <option value="id" {% if data.searchBy == 'id' %}selected{% endif %}>Project Id</option>
              </select>
              <span class="ds_select-arrow" aria-hidden="true"></span>
          </div>

          <label class="ds_label visually-hidden" for="registry-search">Registry search</label>
          <div class="ds_input__wrapper ds_input__wrapper--has-icon">
            <input name="searchString" id="registry-search" class="ds_input ds_site-search__input" type="search" placeholder="Search by project {{ data['searchBy'] }}" autocomplete="off" value="{{ data['searchString'] }}"/>
            <button type="submit" class="ds_button js-site-search-button">
              <span class="visually-hidden">Search by project {{ data['searchBy'] }}</span>
              <svg class="ds_icon" aria-hidden="true" role="img">
                <use href="/plugin-assets/%40scottish-government%2Fdesign-system/dist/images/icons/icons.stack.svg#search"></use>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>

    {% block mainSidebar %}
    <div class="ds_layout__sidebar">
      <div class="ds_search-filters">
        <form id="filters" action="/registry" method="POST">
          <div class="flex-container">
          <h3 class="ds_search-filters__title ds_h4">Filter by</h3>
            <button id="clear-filters" class="ds_facets__clear-button  ds_button  ds_button--secondary">
              Clear all filters
              <svg class="ds_facet__button-icon" aria-hidden="true" role="img" focusable="false">
                  <use href="/plugin-assets/%40scottish-government%2Fdesign-system/dist/images/icons/icons.stack.svg#cancel"></use>
              </svg>
            </button>
          </div>
          <div class="ds_accordion ds_accordion--small ds_!_margin-top--0" data-module="ds-accordion">
            {% for key, values in filters %}
              {% set panelId = "panel-" + loop.index %}
              <div class="ds_accordion-item">
                <input type="checkbox" class="visually-hidden ds_accordion-item__control" id="{{ panelId }}" aria-labelledby="{{ panelId }}-heading" />
                <div class="ds_accordion-item__header">
                  <h3 id="{{ panelId }}-heading" class="ds_accordion-item__title">
                    {{ key }}
                    <span class="ds_search-filters__filter-count{% if not data[key | lower | replace(' ', '_')] %} visually-hidden{% endif %}">
                      ({{ data[key | lower | replace(" ", "_")].length }} Selected)
                    </span>
                  </h3>
                  <span class="ds_accordion-item__indicator"></span>
                  <label class="ds_accordion-item__label" for="{{ panelId }}"><span class="visually-hidden">Show this section</span></label>
                </div>
                <div class="ds_accordion-item__body">
                  <fieldset>
                    <legend class="visually-hidden">Select {{ key }}</legend>
                    <div class="ds_search-filters__scrollable">
                      <div class="ds_search-filters__checkboxes">
                        {% for value in values %}
                          {% set inputId = key | replace(" ", "-") | lower + "-" + loop.index %}
                          <div class="ds_checkbox ds_checkbox--small">
                            <input
                              id="{{ inputId }}"
                              name="{{ key | lower | replace(" ", "_") }}"
                              class="ds_checkbox__input"
                              type="checkbox"
                              value="{{ value }}"
                              {% if data[key | lower | replace(" ", "_")] %}
                                {% if value in data[key | lower | replace(" ", "_")] %}
                                  checked
                                {% endif %}
                              {% endif %}
                            />
                            <label for="{{ inputId }}" class="ds_checkbox__label">
                              {% if key == 'Status' %}
                                {{ data['statusEnum'][value] }}
                              {% else %}
                                {{ value }}
                              {% endif %}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            {% endfor %}
          </div>
          <button type="submit" class="ds_button ds_button--primary ds_button--small ds_button--max ds_no-margin">
            Apply filter
          </button>
        </form>
      </div>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="ds_layout__list">
      <div class="ds_search-results">
        <h2 aria-live="polite" class="ds_search-results__title">Showing {{ projects.length }} results</h2>
        <div class="table-overflow">
          <table class="govuk_table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Category</th>
                <th scope="col" class="govuk-table__header">Standard Name</th>
                <th scope="col" class="govuk-table__header">Project Type</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody id="search-results">
              {% for project in projects %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ project.name }}</td>
                <td class="govuk-table__cell">{{ project.category }}</td>
                <td class="govuk-table__cell">{{ project.standard_name }}</td>
                <td class="govuk-table__cell">{{ project.type }}</td>
                <td class="govuk-table__cell">{{ data['statusEnum'][project.status] }}</td>
                <td class="govuk-table__cell">
                  <button
                    type="button"
                    class="ds_link"
                    onclick="window.location.href='projects/{{ project.details_url }}'"
                  >
                    View
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block sequentialNavigation %}
    <nav class="ds_pagination" aria-label="Search result pages">
      <ul class="ds_pagination__list">
        <li class="ds_pagination__item">
          <a aria-label="Page 1" aria-current="page" class="ds_pagination__link  ds_current" href="#">
            <span class="ds_pagination__link-label">1</span>
          </a>
        </li>
        <li class="ds_pagination__item">
          <a aria-label="Page 2" class="ds_pagination__link" href="#">
            <span class="ds_pagination__link-label">2</span>
          </a>
        </li>
        <li class="ds_pagination__item">
          <a aria-label="Page 3" class="ds_pagination__link" href="#">
            <span class="ds_pagination__link-label">3</span>
          </a>
        </li>
        <li class="ds_pagination__item">
          <a aria-label="Page 4" class="ds_pagination__link" href="#">
            <span class="ds_pagination__link-label">4</span>
          </a>
        </li>
        <li class="ds_pagination__item" aria-hidden="true">
          <span class="ds_pagination__link  ds_pagination__link--ellipsis">&hellip;</span>
        </li>
        <li class="ds_pagination__item">
          <a aria-label="Last page, page 27" class="ds_pagination__link" href="#">
            <span class="ds_pagination__link-label">27</span>
          </a>
        </li>
        <li class="ds_pagination__item">
          <a aria-label="Next page" class="ds_pagination__link  ds_pagination__link--text  ds_pagination__link--icon" href="#">
            <span class="ds_pagination__link-label">Next</span>
            <svg class="ds_icon" aria-hidden="true" role="img">
              <use href="/plugin-assets/%40scottish-government%2Fdesign-system/dist/images/icons/icons.stack.svg#chevron_right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    {% endblock %}
  </main>
</div>
{% endblock %}
