{% extends "/layouts/main.html" %}

{% block pageTitle %}Create Project{% endblock %}

{% set bodyClasses = "govuk-frontend-supported" %}

{% block breadcrumbs %}
<div class="ds_wrapper">
  <a class="ds_back-link" href="/create-project">Back</a>
</div>
{% endblock %}

{% block main %}
<div class="ds_wrapper">
  <main id="main-content">
    {% block mainContent %}
    <div class="ds_layout__content">
      <form action="/upload?fieldId=1" method="post" enctype="multipart/form-data">
        <div class="ds_question">
          <fieldset>
            <div class="ds_page-header">
              <h1 class="ds_page-header__title">
                Document uploads
              </h1>
            </div>
            {# Example of a form input - in this case a date input with datepicker #}
            <div class="ds_form-group">
              <label class="ds_label" for="file-upload-1">
                Upload a file
              </label>
              <div
                class="govuk-drop-zone"
                data-module="govuk-file-upload">
                <input class="govuk-file-upload" id="file-upload-1" name="fileUpload" type="file">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="button-group">
          <button class="ds_button  ds_button--has-icon">
            Next
            <svg class="ds_icon" aria-hidden="true" role="img">
              <use href="{{ assetPath }}/images/icons/icons.stack.svg#chevron_right"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
    {% endblock %}

    {% block answerSummary %}
    <div class="ds_layout__footer">
      <div class="ds_!_margin-top--4">
        <div class="ds_file-download">
          <div class="ds_file-download__thumbnail">
            <a class="ds_file-download__thumbnail-link" aria-hidden="true" tabindex="-1" href="#">
              <span class="visually-hidden">Document cover image</span>
              <img class="ds_file-download__thumbnail-image" src="/public/svg/geodata.svg"
                alt="" />
            </a>
          </div>

          <div class="ds_file-download__content">
            <a href="#" class="ds_file-download__title" aria-describedby="file-download-1">PlotPoint: Company Site Mapping and Management</a>

            <div id="file-download-1" class="ds_file-download__details">
              <dl class="ds_metadata  ds_metadata--inline">
                <div class="ds_metadata__item">
                  <dt class="ds_metadata__key  visually-hidden">File type</dt>
                  <dd class="ds_metadata__value">44 page PDF<span class="visually-hidden">,</span></dd>
                </div>

                <div class="ds_metadata__item">
                  <dt class="ds_metadata__key  visually-hidden">File size</dt>
                  <dd class="ds_metadata__value">7.2 MB</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="ds_file-download">
          <div class="ds_file-download__thumbnail">
            <a class="ds_file-download__thumbnail-link" aria-hidden="true" tabindex="-1" href="#">
              <span class="visually-hidden">Document cover image</span>
              <img class="ds_file-download__thumbnail-image" src="/public/svg/pdf.svg"
                alt="" />
            </a>
          </div>

          <div class="ds_file-download__content">
            <a href="#" class="ds_file-download__title" aria-describedby="file-download-1">Scotland's Artificial Intelligence
              Strategy - Trustworthy, Ethical and Inclusive</a>

            <div id="file-download-1" class="ds_file-download__details">
              <dl class="ds_metadata  ds_metadata--inline">
                <div class="ds_metadata__item">
                  <dt class="ds_metadata__key  visually-hidden">File type</dt>
                  <dd class="ds_metadata__value">44 page PDF<span class="visually-hidden">,</span></dd>
                </div>

                <div class="ds_metadata__item">
                  <dt class="ds_metadata__key  visually-hidden">File size</dt>
                  <dd class="ds_metadata__value">7.2 MB</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="ds_file-download">
          <div class="ds_file-download__thumbnail">
            <a class="ds_file-download__thumbnail-link" aria-hidden="true" tabindex="-1" href="#">
              <span class="visually-hidden">Document cover image</span>
              <img class="ds_file-download__thumbnail-image" src="/public/svg/csv.svg"
                alt="" />
            </a>
          </div>

          <div class="ds_file-download__content">
            <a href="#" class="ds_file-download__title" aria-describedby="file-download-1">Scotland's Artificial Intelligence
              Strategy - Trustworthy, Ethical and Inclusive</a>

            <div id="file-download-1" class="ds_file-download__details">
              <dl class="ds_metadata  ds_metadata--inline">
                <div class="ds_metadata__item">
                  <dt class="ds_metadata__key  visually-hidden">File type</dt>
                  <dd class="ds_metadata__value">44 page PDF<span class="visually-hidden">,</span></dd>
                </div>

                <div class="ds_metadata__item">
                  <dt class="ds_metadata__key  visually-hidden">File size</dt>
                  <dd class="ds_metadata__value">7.2 MB</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </main>
</div>
{% endblock %}
