{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% extends "sg-prototype-templates/layouts/_base-layout--navigation.njk" %}

{# Specify the menu items object to show navigation #}
{% if userType == "admin" %}
  {% set navigationMenu = {
      "menu": [
        {
          "label": "Dashboard",
          "link": "/"
        },
        {
          "label": "Accounts",
          "link": "/admin/accounts"
        },
        {
          "label": "Projects",
          "link": "/admin/projects"
        },
        {
          "label": "Reports",
          "link": "/admin/reports"
        },
        {
          "label": "Notifications",
          "link": "/admin/notifications"
        },
        {
          "label": "Log out",
          "link": "/logout"
        }
      ]
    }
  %}
{% elseif userType == "developer" %}
  {% set navigationMenu = {
      "menu": [
        {
          "label": "Overview",
          "link": "/"
        },
        {
          "label": "My Projects",
          "link": "/my-projects"
        },
        {
          "label": "Create Project",
          "link": "/create-project"
        },
        {
          "label": "My Account",
          "link": "/account"
        },
        {
          "label": "Log out",
          "link": "/logout"
        }
      ]
    }
  %}
{% elseif userType == "trader" %}
  {% set navigationMenu = {
      "menu": [
        {
          "label": "Overview",
          "link": "/"
        },
        {
          "label": "My Account",
          "link": "/account"
        },
        {
          "label": "Log out",
          "link": "/logout"
        }
      ]
    }
  %}
{% else %}
  {% set navigationMenu = {
      "menu": [
        {
          "label": "Home",
          "link": "/"
        },
        {
          "label": "Login",
          "link": "/login"
        },
        {
          "label": "Register",
          "link": "/register"
        }
      ]
    }
  %}
{% endif %}

{# Use an empty siteBrandingTitle block to only show the logo for site branding #}
{% block siteBrandingTitle %}
<div class="ds_site-branding__title">
  {{ serviceName }}
</div>
{% endblock %}

{%  block siteSearch %}
{%  endblock %}

{# Cookie banner to show placement location of this and notification banners #}
{% block pageTopStart %}
<!--<div id="cookie-notice"-->
<!--  class="ds_notification  ds_notification&#45;&#45;large  ds_notification&#45;&#45;cookie  js-initial-cookie-content"-->
<!--  data-module="ds-cookie-notification">-->
<!--  <div class="ds_wrapper">-->
<!--    <div class="ds_notification__content">-->
<!--      <h2 class="visually-hidden">Information</h2>-->

<!--      <div class="ds_notification__text">-->
<!--        <p>We use <a href="#">cookies</a> to collect anonymous data to help us improve your site browsing-->
<!--          experience.</p>-->
<!--        <p>Click 'Accept all cookies' to agree to all cookies that collect anonymous data.-->
<!--          To only allow the cookies that make the site work, click 'Use essential cookies only.' Visit 'Set cookie-->
<!--          preferences' to control specific cookies.</p>-->
<!--      </div>-->

<!--      <div class="ds_notification__actions">-->
<!--        <button class="ds_button  ds_button&#45;&#45;small  js-accept-all-cookies">Accept all cookies</button>-->
<!--        <button class="ds_button  ds_button&#45;&#45;small  ds_button&#45;&#45;secondary  js-accept-essential-cookies">Use essential-->
<!--          cookies only</button>-->
<!--        <a href="#">Set cookie preferences</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}
